{% from "date-input/macro.njk" import govukDateInput %}
{% from "button/macro.njk" import govukButton %}

<form class="govuk-form" action="{{action}}" method="get">
    <fieldset class="govuk-fieldset">
        <h2 class="govuk-heading-m">What dates do you want this report to cover?</h2>
        <div class="report-container">
            <div class="report-input first">
                <legend>From</legend>
                {{ govukDateInput({
                    id: "from",
                    namePrefix: "from",
                    hint: {
                        text: "For example, 31 3 1980"
                    }
                }) }}
            </div>
            <div class="report-input">
                <legend>To</legend>
                {{ govukDateInput({
                    id: "to",
                    namePrefix: "to",
                    hint: {
                        text: "For example, " + exampleDate
                    }
                }) }}
            </div>
        </div>
        <div class="button-container">
            {{ govukButton({
                text: "Generate report",
                type: submit
            }) }}
        </div>
    </fieldset>
</form>