{% from "error-summary/macro.njk" import govukErrorSummary %}

<div class="govuk-row">
    <div class="govuk-column-width-full">
        {% if errors %}
            {% set errorSummary = [] %}

            {% for field, message in errors %}
                {% if (message.length > 1) %}
                    {% set error = errorSummary.push({
                        "text": message
                    })
                    %}
                {% else %}
                    {% set error = errorSummary.push({
                        "text": i18n["message[0]"] if i18n[message[0]] else message[0] | jsonpath(i18n)
                    })
                    %}
                {% endif %}
            {% endfor %}

            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorSummary,
                classes: "custom-error-message"
            }) }}
        {% endif %}
    </div>
</div>
