{% from "error-summary/macro.njk" import govukErrorSummary %}

<div class="govuk-row">
    <div class="govuk-column-width-full">
        {% if errors %}
        {% set errorSummary = [] %}

            {% for field, message in errors %}
                {% set errorMessage =  i18n[message[0]] %}
                    {% set error = errorSummary.push({
                        "text": errorMessage
                    })
                %}
            {% endfor %} 

        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorSummary,
        classes: "custom-error-message"
        }) }}

        {% endif %}
    </div>
</div>