{% from "table/macro.njk" import govukTable %}

{{ govukTable({
  firstCellIsHeader: true,
  classes: "course-table",
  rows: [
    [
      {
        text: "Added on"
      },
      {
        text: "13th August 2018",
        format: "numeric"
      }
    ],
    [
      {
        text: "Added by"
      },
      {
        text: "course-manager@domain.com",
        format: "numeric"
      }
    ],
    [
      {
        text: "Type"
      },
      {
        text: i18n[course.getType()]  | default("Course", true),
        format: "numeric"
      }
    ],
    [
        {
        text: "Cost"
        },
        {
        text: "£" + course.getCost() | default("Free", true),
        format: "numeric"
        }
    ],
    [
      {
        text: "Level"
      },
      {
        text: "AO to SEO",
        format: "numeric"
      }
    ],
    [
      {
        text: "Learning Provider"
      },
      {
        text: "KPMG",
        format: "numeric"
      }
    ]
  ]
}) }}

