{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}
{% if cancellationPolicy %}
{{ i18n['cancellation_policy_edit_title'] }} - {{ i18n['proposition_name'] }}
{% else %}
{{ i18n['cancellation_policy_add_title'] }} - {{ i18n['proposition_name'] }}
{% endif %}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/learning-providers/" + learningProvider.id %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if errors.size %}
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% for field, message in errors.fields %}
                                <li><a href="#">{{ i18n[message] }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {%endif%}
        </div>
        <div class="govuk-grid-column-two-thirds">
            {% if cancellationPolicy %}
            <p class="govuk-heading-m govuk-!-font-size-36">Edit cancellation policy</p>
            {% else %}
            <p class="govuk-heading-m govuk-!-font-size-36">Add new cancellation policy</p>
            {% endif %}

            <form action="/content-management/learning-providers/{{learningProvider.id}}/cancellation-policies/{{ cancellationPolicy.id }}" method="post" class="module-form">
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                {% if cancellationPolicy.id %}
                <input type="hidden" name="id" value="{{cancellationPolicy.id}}"/>
                {% endif %}

                <fieldset class="govuk-fieldset">
                    {% if errors.fields.name %}
                        {{ govukInput({
                        label: {
                            text: "Policy name"
                        },
                        id: "name",
                        name: "name",
                        value: cancellationPolicy.name,

                    errorMessage: {
                            text: "Name is required"
                        }
                        }) }}
                    {% else %}
                        {{ govukInput({
                            label: {
                                text: "Policy name"
                            },
                            id: "name",
                            name: "name",
                            value: cancellationPolicy.name
                        }) }}
                    {% endif %}

                {% if errors.fields.shortVersion %}
                    {{ govukTextarea({
                        name: "shortVersion",
                        id: "shortVersion",
                        label: {
                            text: "Short version"
                        },
                        errorMessage: {
                            text: "Short version is required"
                        },
                        value: cancellationPolicy.shortVersion
                    }) }}
                {% else %}
                    {{ govukTextarea({
                        name: "shortVersion",
                        id: "shortVersion",
                        label: {
                            text: "Short version"
                        },
                        value: cancellationPolicy.shortVersion
                    }) }}
                {% endif %}
                {% if errors.fields.fullVersion %}
                    {{ govukTextarea({
                        name: "fullVersion",
                        id: "fullVersion",
                        label: {
                            text: "Full version"
                        },
                        errorMessage: {
                            text: "Full version is requred"
                        },
                        value: cancellationPolicy.fullVersion

                    }) }}
                {% else %}
                    {{ govukTextarea({
                        name: "fullVersion",
                        id: "fullVersion",
                        label: {
                            text: "Full version"
                        },
                        value: cancellationPolicy.fullVersion
                    }) }}
                {% endif %}
                </fieldset>
                <div class="button-container">
                    {{ govukButton({
                        text: "Save"
                    }) }}
                </div>
                <a class="cancel-button govuk-body govuk-link" href="/content-management/learning-providers/{{learningProvider.id}}">Cancel</a>
            </form>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}