{% from "input/macro.njk" import govukInput with context%}
{% from "button/macro.njk" import govukButton %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}{{ i18n['learning_provider_add_title'] }} - {{ i18n['proposition_name'] }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/learning-providers" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Add new learning provider</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% set errors = sessionFlash.errors %}

            {{ errorSummary(errors.fields) }}
            
            <form action="/content-management/learning-providers/learning-provider" method="post" class="module-form">
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                <fieldset class="govuk-fieldset">
                 {% if errors.fields %}
                    {{ govukInput({
                        label: {
                            text: "Learning provider name"
                        },
                        id: "name",
                        name: "name",
                        errorMessage: {
                            text: "A name is required"
                        }
                    }) }}
                    {% else %}
                    {{ govukInput({
                        label: {
                        text: "Learning provider name"
                        },
                        id: "name",
                        name: "name"
                    }) }}
                {% endif %}
                </fieldset>
                <div class="button-container">
                    {{ govukButton({
                        text: "Add a new learning provider"
                    }) }}
                </div>
            </form>
            <a href="/content-management/learning-providers" class="govuk-link">Cancel</a>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}
