{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "../../component/textarea/macro.njk" import textarea %}
{% from "../../component/textareaError/macro.njk" import textareaError %}
{% from "../../component/menu/macro.njk" import menu %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}
    {{ i18n['terms_and_conditions_edit_title'] if termsAndConditions else i18n['terms_and_conditions_add_title'] }} - {{ i18n['proposition_name'] }}
{% endblock %}

{% set banner = true %}

{% block content %}
    {% set errors = sessionFlash.errors %}
    {% set form = sessionFlash.form %}
    {{ errorSummary(errors.fields) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if termsAndConditions %}
            <p class="govuk-heading-m govuk-!-font-size-36">{{i18n.terms_and_conditions_edit_title}}</p>
            {% else %}
            <p class="govuk-heading-m govuk-!-font-size-36">{{i18n.terms_and_conditions_add_title}}</p>
            {% endif %}

            <form action="/content-management/learning-providers/{{learningProvider.id}}/terms-and-conditions/{{termsAndConditions.id}}" method="post" class="module-form">
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                {% if termsAndConditions.id %}
                    <input type="hidden" value="{{termsAndConditions.id}}" name="id"/>
                {% endif %}
                <fieldset class="govuk-fieldset">
                    {% if errors.fields.name %}
                        {{ govukInput({
                            label: {
                                text: "Name"
                            },
                            id: "name",
                            name: "name",
                            value: form.name,
                            errorMessage: {
                                text: i18n.termsAndConditions.validation.name.empty
                            }
                        }) }}
                    {% else %}
                        {{ govukInput({
                            label: {
                                text: "Name"
                            },
                            id: "name",
                            name: "name",
                            value: form.name or termsAndConditions.name
                        }) }}
                    {% endif %}

                    {% block textarea %}
                        {% if errors.fields.content %}
                            {{ textareaError("content", "content", "", null, "Content", i18n.termsAndConditions.validation.content.empty) }}
                        {% else %}
                            {{ textarea("content", "content", "",  null, form.content or termsAndConditions.content, "Content") }}
                        {% endif %}
                    {% endblock %}
                </fieldset>
                <div class="button-container">
                    {{ govukButton({
                        text: "Save"
                    }) }}
                </div>
                <a class="cancel-button govuk-body govuk-link" href="/content-management/learning-providers/{{learningProvider.id}}">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
