{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "../../component/textarea/macro.njk" import textarea %}
{% from "../../component/textareaError/macro.njk" import textareaError %}
{% from "../../component/menu/macro.njk" import menu %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}
{% if termsAndConditions %}
{{ i18n['terms_and_conditions_edit_title'] }} - {{ i18n['proposition_name'] }}
{% else %}
{{ i18n['terms_and_conditions_add_title'] }} - {{ i18n['proposition_name'] }}
{% endif %}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/learning-providers/{{learningProvider.id}}" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% if termsAndConditions %}
            <p class="govuk-heading-m govuk-!-font-size-36">Edit terms and conditions</p>
            {% else %}
            <p class="govuk-heading-m govuk-!-font-size-36">Add new terms and conditions</p>
            {% endif %}

            {% set errors = sessionFlash.errors %}

            {% if errors.fields %}
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% for field, message in errors.fields %}
                                <li><a href="#">{{ i18n[message] }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {%endif%}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/content-management/learning-providers/{{learningProvider.id}}/terms-and-conditions/{{termsAndConditions.id}}" method="post" class="module-form">
                <fieldset class="govuk-fieldset">
                    {% if errors.fields %}
                        {{ govukInput({
                        label: {
                            text: "Title"
                            },
                            id: "title",
                            name: "title",
                            errorMessage: {
                                text: "Name is required"
                            }
                        }) }}
                    {% else %}
                        {{ govukInput({
                        label: {
                            text: "Name"
                            },
                            id: "name",
                            name: "name",
                            value: termsAndConditions.name
                        }) }}
                    {% endif %}
                     
                    {% block textarea %}
                        {% if errors.fields%}
                            {{ textareaError("content", "content", "", null, "Terms and conditions", "Terms and conditions is required") }}
                        {% else %}
                            {{ textarea("content", "termsAndConditions", "",  null, termsAndConditions.content, "Content") }}
                        {% endif %}
                    {% endblock %}               
                </fieldset> 
                <div class="button-container">
                    {{ govukButton({
                        text: "Save"
                    }) }}
                </div>
                <a class="cancel-button govuk-body govuk-link" href="/content-management/learning-providers/{{learningProvider.id}}">Cancel</a>
            </form>                    
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="right-menu">
                {% block menu %}
                    {% set actions = [
                        {
                            link: '#',
                            text: 'Headings'
                        },
                        {
                            link: '#',
                            text: 'Lists'
                        },
                        {
                            link: '#',
                            text: 'Links'
                        }
                    ] %}
                {{ menu("Using markdown", actions) }}
            {% endblock %}
        </div>
        </div>
    </div>
{% endblock %}

