.status {
	font-weight: bold;
	padding: 2px 4px;
	min-width: 50px;
	text-align: center;

	&.Draft {
		color: $font-color;
		background-color: $outline;
	}

	&.Published {
		color: $white;
		background-color: $link;
	}

	&.Archived {
		color: $white;
		background-color: $theme;
	}

	&.Active {
		color: $white;
		background-color: $link;
	}

	&.Cancelled {
		color: $white;
		background-color: $theme;
	}
}
