.course-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border;
    align-items: flex-start;
    padding: 15px 0;

    .govuk-heading-s {
        margin-bottom: 0;
    }
}