{% from "table/macro.njk" import govukTable %}

{% set faceToFace = false %}
{% for module in course.modules %}
    {% if module.type == 'face-to-face' %}
        {% set faceToFace = true %}
    {% endif %}
{% endfor %}

<ul class="list course-list">
    <li class="list-item course-item">
        <h3 class="govuk-heading-s">Type</h3>
        <p class="govuk-body no-margin">{{ i18n[course.getType()]  | default("Course", true) }}</p>
    </li>
    <li class="list-item course-item">
        <h3 class="govuk-heading-s">Cost</h3>
        <p class="govuk-body no-margin">£{{ course.getCost() | default("Free", true) }}</p>
    </li>
    <li class="list-item course-item">
        <h3 class="govuk-heading-s">Grades</h3>
        <p class="govuk-body no-margin">{{ grades|join(", ") if grades.length > 0 else "Unspecified" }}</p>
    </li>
    {% if faceToFace === true %}
        <li class="list-item course-item">
            <h3 class="govuk-heading-s">Learning Provider</h3>
            <p class="govuk-body no-margin">{{ course.learningProvider.name | default("Unspecified", true) }}</p>
        </li>
    {% endif %}
</ul>
