{% from "table/macro.njk" import govukTable %}

{% set rows = [
               [
                 {
                   text: "Type"
                 },
                 {
                   text: i18n[course.getType()]  | default("Course", true),
                   format: "numeric"
                 }
               ],
               [
                   {
                   text: "Cost"
                   },
                   {
                   text: "£" + course.getCost() | default("Free", true),
                   format: "numeric"
                   }
               ],
               [
                 {
                   text: "Level"
                 },
                 {
                   text: "AO to SEO",
                   format: "numeric"
                 }
               ]
             ]
%}

{% set faceToFace = false %}
{% for module in course.modules %}
    {% if module.type == 'face-to-face' %}
        {% set faceToFace = true %}
    {% endif %}
{% endfor %}

{% if faceToFace %}
    {{ rows.push([
                {
                    text: "Learning Provider"
                },
                {
                    text: course.learningProvider.name | default("Unspecified", true),
                    format: "numeric"
                }
                ])
            }}
{% endif %}

{{ govukTable({
          firstCellIsHeader: true,
          classes: "course-table",
          rows: rows
}) }}
