.menu-container {
	padding: 10px;

	.menu-header {
		font-weight: 700;
		font-size: 20px;
		margin: 10px 0;
	}

	.menu-link {
		font-size: $font-normal;
	}
}

.govuk-button--delete {
	background-color: $theme;
	margin-top: 20px;

	&:hover {
		background-color: darken($theme, 10%);
		color: $white;
	}

	&:focus {
		background-color: $theme;
	}
}

.button-red {
	background-color: $theme;
	color: $white;
	padding: 5px 10px;
	border: none;

	transition: background-color, 0.3s;
	text-decoration: none;
}

.right-menu {
	border: 1px solid $border;
	border-top: 8px solid $theme;

	.menu-header {
		font-weight: 700;
		font-size: 20px;
		margin: 10px 0;
	}

	.menu-link {
		font-size: $font-normal;
	}

	.action-links {
		.action-link {
			margin: 10px 0;
		}
	}
}
