{% from "button/macro.njk" import govukButton %}

<div class="menu-container">
    <h4 class="menu-header">{{ boxTitle }}</h4>
    <ul class="action-links">
        {% for action in actions %}
            <li class="action-link">
                <a class="govuk-link" href="{{ action.link }}">{{ action.text }}</a>
            </li>
        {% endfor %}
    </ul>
    {% if (delete === true} %}
        {{ govukButton({
            text: "Delete",
            "classes": "govuk-button--delete"
        }) }}
    {% endif %}
</div>