{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}
    {{ i18n.course.pageTitle.editCourseTitle if course else i18n.course.pageTitle.addCourseTitle }} - {{ i18n.proposition_name }}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management" %}

{% block content %}
{% set errors = sessionFlash.errors %}
{% set form = sessionFlash.form %}

    {{ errorSummary(errors.fields) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body form-header govuk-!-font-size-24">{{i18n.course.text.editDetails if course else i18n.course.text.addNew}}</p>
            <h2 class="govuk-heading-m govuk-!-font-size-36">{{i18n.course.text.details}}</h2>
            <form action="/content-management/courses/title/{{ course.id }}" method="post" class="course-form">
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                {% if course.id %}
                <input type="hidden" name="id" value="{{ course.id }}">
                {% endif %}

                <fieldset class="govuk-fieldset">
                    {% if errors.fields.title %}
                        {{ govukInput({
                            label: {
                                text: i18n.course.text.title
                            },
                            id: "title",
                            name: "title",
                            value: form.title,
                            errorMessage: {
                                text: i18n.course.validation.title.empty
                            }
                        }) }}
                    {% else %}
                        {{ govukInput({
                            label: {
                                text: i18n.course.text.title
                            },
                            id: "title",
                            name: "title",
                            value: course.title
                        }) }}
                    {% endif %}
                </fieldset>
                <div class="button-container">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </div>
                <a class="cancel-button govuk-body govuk-link" href="/content-management">Cancel</a>
            </form>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}