{% from "character-count/macro.njk" import govukCharacterCount %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "../../component/textarea/macro.njk" import textarea with context %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}
    {{ i18n.course.pageTitle.editCourseDetails if course else i18n.course.pageTitle.addCourseDetails }} - {{ i18n.proposition_name }}
{% endblock %}

{% set banner = true %}
{% if course %}
    {% set backButton = "/content-management/courses/"+course.id+"/preview" %}
{% else %}
    {% set backButton = "/content-management/courses/title/" %}
{% endif %}

{% block content %}
    {% set errors = sessionFlash.errors %}
    {% set form = sessionFlash.form %}
    {% set course = sessionFlash.course %}

    {{ errorSummary(errors.fields) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-body form-header govuk-!-font-size-24">{{i18n.course.text.editDetails if course else i18n.course.text.addNew}}</h1>
            <h2 class="govuk-heading-m govuk-!-font-size-36">{{i18n.course.text.details}}</h2>
            <form action="/content-management/courses/details/{{ course.id }}" method="post" class="course-form">
                {% if course.id %}
                <input type="hidden" name="id" value="{{ form.id|default(course.id) }}">
                {% endif %}
                <input id="title" name="title" type="hidden" value="{{ form.title|default(course.title)}}">
                <fieldset class="govuk-fieldset">
                    {% block textarea %}
                        {{ textarea("shortDescription", "shortDescription", "Maximum of 160 characters", 160, form.shortDescription|default(course.shortDescription), "Short description") }}
                        {{ textarea("description", "description", "Maximum of 1500 characters", 1500, form.description|default(course.description), "Description") }}
                        {{ textarea("learningOutcomes", "learningOutcomes", "Maximum of 1500 characters", 1500, form.learningOutcomes|default(course.learningOutcomes), "Learning outcomes (optional)") }}
                        {{ textarea("preparation", "preparation", "Maximum of 1500 characters", 1500, form.preparation|default(course.preparation), "Preparation (optional)") }}
                    {% endblock %}
                </fieldset>
                <div class="button-container">
                    {{ govukButton({
                        text: "Save"
                    }) }}
                </div>
            </form>
            <a class="cancel-button govuk-body govuk-link" href="/content-management/courses/title">Cancel</a>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}