{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}
    {{ i18n.course.pageTitle.addCourseVisibility if course else i18n.course.pageTitle.addCourseVisibility }} - {{ i18n.proposition_name }}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management" %}

{% block content %}
{% set errors = sessionFlash.errors %}
{% set form = sessionFlash.form %}

    {{ errorSummary(errors.fields) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body form-header govuk-!-font-size-24">{{i18n.course.text.addNew}}</p>
            <h2 class="govuk-heading-m govuk-!-font-size-36">{{i18n['course_visibility']}}</h2>
            <form action="/content-management/courses/visibility" method="post" class="course-form">
                {% if course.id %}
                <input type="hidden" name="id" value="{{ course.id }}">
                {% endif %}

                <fieldset class="govuk-fieldset">
                    

                    {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: "visibility",
                    name: "visibility",
                    fieldset: {
                        legend: {
                        text: "Is this a private course?",
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--m"
                        }
                    },
                    hint: {
                        text: "Limited to your selected group by email; this course cannot be found through Search."
                    },
                    items: [
                        {
                        value: "PRIVATE",
                        text: "Yes"
                        },
                        {
                        value: "PUBLIC",
                        text: "No"
                        }
                    ]
                    }) }}
                </fieldset>
                {{ govukButton({
                    text: "Continue"
                }) }}
                <a class="cancel-button govuk-body govuk-link" href="/content-management">Cancel</a>
            </form>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}
