{% from "button/macro.njk" import govukButton %}
{% from "table/macro.njk" import govukTable %}
{% from "../../component/coursePreview/macro.njk" import coursePreview with context %}
{% from "../../component/courseModules/macro.njk" import courseModules with context %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}{{ i18n['course_preview_title'] }} - {{ i18n['proposition_name'] }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/"+course.id+"/overview" %}

{% block content %}
    {% if identity.hasLearningEdit() %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
                <div class="panel panel-blue">
                    <h5 class="govuk-heading-s">This page is in preview and has not been published yet.</h5>
                    <p class="govuk-body govuk-!-margin-bottom-0">Edit: <a href="/content-management/courses/title/{{ course.id }}" class="govuk-link panel-links">Title</a> <a href="/content-management/courses/details/{{ course.id }}" class="govuk-link panel-links">Details</a><a href="/content-management/courses/{{course.id}}/add-module" class="govuk-link panel-links">Modules</a></p>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% block coursePreview %}
                {{ coursePreview(course, identity) }}
            {% endblock %}

            {% if course.modules.length > 0 %}
                {% block courseModules %}
                    {{ courseModules(course.modules) }}
                {% endblock %}
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="right-menu">
                <ul class="course-summary">
                    <li class="course-summary-item">
                        <div class="item-container">
                            <span class="item item-header">Course type</span>
                            <span class="item item-value type">{{ course.getType() | default("Unspecified", true) }}</span>
                        </div>
                    </li>
                    <li class="course-summary-item">
                        <div class="item-container">
                            <span class="item item-header">Grades</span>
                            <span class="item item-value">{{ course.getGrades() | default("Unspecified", true) }}</span>
                        </div>
                    </li>
                    <li class="course-summary-item">
                        <div class="item-container">
                            <span class="item item-header">Duration</span>
                            <span class="item item-value">{{ course.getDuration() | default("Unspecified", true) }}</span>
                        </div>
                    </li>
                    <li class="course-summary-item">
                        <div class="item-container">
                            <span class="item item-header">Cost</span>
                            <span class="item item-value">£{%- if course.getCost() === 0 -%}
                                                                Free {%- else -%}
                                                                {{ course.getCost() }} 
                                                            {%- endif %}
                                                            (ex VAT)
                            </span>
                        </div>
                    </li>
                    <li class="course-summary-item">
                        <div class="item-container">
                            <span class="item item-header">Next available date</span>
                            <span class="item item-value">{{ course.getNextAvailableDate() | default("Unspecified", true) }}</span>
                        </div>
                    </li>
                    <li class="course-summary-item">
                        <div class="item-container">
                            <span class="item item-header">Primary area</span>
                            <span class="item item-value">{{ course.getAreasOfWork() | default("Unspecified", true) }}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {{ govukButton({
                text: "Return to course",
                href: "/content-management/courses/"+ course.id +"/overview"
            }) }}
        </div>
    </div>
{% endblock %}

