{% from "../../component/list/macro.njk" import list %}
{% from "../../component/menu/macro.njk" import menu %}
{% from "../../component/statusWithLabel/macro.njk" import statusWithLabel with context %}
{% from "../../component/changeStatus/macro.njk" import changeStatus with context %}
{% from "../../component/courseDetails/macro.njk" import courseDetails with context %}
{% from "../../component/courseEvents/macro.njk" import courseEvents with context %}
{% from "../../component/audiences/macro.njk" import audiences with context %}
{% from "back-link/macro.njk" import govukBackLink %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}{{ i18n['course_overview_title'] }} - {{ i18n['proposition_name'] }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">{{ course.title }}</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% set courseAddedSuccessMessage = sessionFlash.courseAddedSuccessMessage%}

        {% if courseAddedSuccessMessage %}
            <div class="panel panel-blue">
                <div class="govuk-panel__body custom-panel">
                    <p class="govuk-body"><strong>{{ course.title }}</strong>{{ i18n[courseAddedSuccessMessage] }}</p>
                </div>
            </div>
        {% endif %}
        <div class="course-container">
            <h3 class="govuk-heading-m">Course overview</h3>
            {% block courseDetails %}
                {{ courseDetails(course) }}
            {% endblock %}
        </div>
        <div class="section">
            <h3 class="govuk-heading-m">Course events</h3>
            {% block courseEvents %}
                {{ courseEvents(course, faceToFaceModules, identity) }}
            {% endblock %}
        </div>
        {% if not identity.isSupplierAuthor() %}
        <div class="section">
            <div class="title-container">
                <h3 class="govuk-heading-m">Course audiences</h3>
                {% if course.status !== "Archived" and identity.hasLearningCreate() %}
                <form action="/content-management/courses/{{ course.id }}/audiences/" method="post">
                    <button class="govuk-link linkish-button add-audience-link" id="name" name="name" value="temp-audience-name">Add an audience</button>
                </form>
                {% endif %}
            </div>
            {% block audiences %}
                {{ audiences(course, sortedAudiences, identity) | replace("dash", "-") }}
            {% endblock %}
        </div>
        {% endif %}
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="right-menu">
            {% block statusWithLabel %}
                {{ statusWithLabel(course.status) }}
            {% endblock %}
            {% block changeStatus %}
                {{ changeStatus(course.status) }}
            {% endblock %}
            {% if course.status !== "Archived" %}
                {% if identity.hasLearningEdit() %}
                    {% block menu %}
                        {% set actions = [
                            {
                                link: '/content-management/courses/' + course.id + "/preview",
                                text: 'Preview and edit'
                            }
                        ] %}
                        {{ menu("Actions", actions) }}
                    {% endblock %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}