{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}
{% if course %}
{{ i18n['course_title_edit_title'] }} - {{ i18n['proposition_name'] }}
{% else %}
{{ i18n['course_title_add_title'] }} - {{ i18n['proposition_name'] }}
{% endif %}
{% endblock %}

{% block beforeContent %}
  {% block phaseBanner %}
    {{ phaseBanner("beta") }}
  {% endblock%}
  {% block backLink %}
    {{ backLink("/content-management") }}
  {% endblock%}
{% endblock %}

{% block content %}
    {% set errors = sessionFlash.errors %}
    {% if errors.fields %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for field, message in errors.fields %}
                        <li><a href="#">{{ i18n[message] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {%endif%}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if course %}
            <p class="govuk-body form-header govuk-!-font-size-24">Edit course title</p>
            {% else %}
            <p class="govuk-body form-header govuk-!-font-size-24">Add a new course</p>
            {% endif %}
            <h2 class="govuk-heading-m govuk-!-font-size-36">Course details</h2>
            <form action="/content-management/courses/title/{{ course.id }}" method="post">
                <fieldset class="govuk-fieldset">
                    {{ govukInput({
                    label: {
                        text: "Course title"
                        },
                        id: "title",
                        name: "title",
                        value: course.title
                    }) }}
                </fieldset>
                {{ govukButton({
                    text: "Continue"
                }) }}

                <a class="cancel-button govuk-body govuk-link" href="/content-management">Cancel</a>
            </form>
        </div>

        <div class="govuk-grid-column-one-third">
       
        </div>
    </div>
{% endblock %}