{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}
    {% if course %}
        {{ i18n['course_title_edit_title'] }} - {{ i18n['proposition_name'] }}
    {% else %}
        {{ i18n['course_title_add_title'] }} - {{ i18n['proposition_name'] }}
    {% endif %}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management" %}

{% block content %}
    {% set errors = sessionFlash.errors %}
    
    {{ errorSummary(errors.fields) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if course %}
                <p class="govuk-body form-header govuk-!-font-size-24">Edit course title</p>
            {% else %}
                <p class="govuk-body form-header govuk-!-font-size-24">Add a new course</p>
            {% endif %}
            <h2 class="govuk-heading-m govuk-!-font-size-36">Course details</h2>
            <form action="/content-management/courses/title/{{ course.id }}" method="post">
                <fieldset class="govuk-fieldset">
                    {% if errors.fields.title %}
                        {{ govukInput({
                        label: {
                            text: "Course title"
                            },
                            id: "title",
                            name: "title",
                            value: course.title,
                            errorMessage: {
                                text: "Title is required"
                            }
                        }) }}
                    {% else %}
                    {{ govukInput({
                        label: {
                            text: "Course title"
                            },
                            id: "title",
                            name: "title",
                            value: course.title
                        }) }}
                    {% endif %}
                </fieldset>
                {{ govukButton({
                    text: "Continue"
                }) }}

                <a class="cancel-button govuk-body govuk-link" href="/content-management">Cancel</a>
            </form>
        </div>

        <div class="govuk-grid-column-one-third">
       
        </div>
    </div>
{% endblock %}