{% from "date-input/macro.njk" import govukDateInput %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "back-link/macro.njk" import govukBackLink %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}{{ i18n['administration_pages_title'] }} - {{ i18n['proposition_name'] }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/skills" %}



{% block content %}
{% set errors = sessionFlash.errors %}
{% set banner = true %}
{{ errorSummary(errors.fields) }}
<div class="govuk-grid-row">
    <form action="/content-management/skills/generate-report" method="post">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Skills reporting</h1>
        <div class="reports-container">
            <ul class="list">
                {% if role === 'superAdmin' or role === 'orgAdmin' %}
                    <li class="course list-details">
                        <div class="course-details">
                            <h2 class="govuk-heading-m">Profession</h2>
                                <p class="govuk-body no-margin">Select the profession you wish to download a report for otherwise select 'all'</p>
                            <div class="govuk-form-group profession-selecter">
                                <select class="govuk-select" id="profession" name="profession">
                                    <option value="" selected disabled hidden>
                                        Select a profession
                                    </option>
                                    {% for profession in professions %}
                                        <option value="{{profession.id}}">{{profession.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </li>
                {% endif %}
                <li class="course list-details">
                    <div class="course-details">
                        <h2 class="govuk-heading-m">Date Range</h2>
                        <p class="govuk-body no-margin">Specify the period of time you would like to download the report between</p>
                    </div>
                </li>
                <li class="course list-details dates">
                    <input type="hidden" name="role" value="{{role}}">
                    {{ govukDateInput({
                    id: "start-date",
                    name: "start-date",
                    fieldset: {
                    legend: {
                    text: "Start date",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--s"
                    }
                    },
                    hint: {
                    text: "For example, 01 01 " + placeholder.startYear
                    },
                    items: [
                    {   attributes: {
                    "maxLength": "2"
                    },
                    label: "Day",
                    name: "startDay",
                    value: placeholder.startDay,
                    classes: "govuk-input--width-3"
                    },
                    {
                    label: "Month",
                    name: "startMonth",
                    value: placeholder.startMonth,
                    classes: "govuk-input--width-3"
                    },
                    {
                    label: "Year",
                    name: "startYear",
                    value: placeholder.startYear,
                    classes: "govuk-input--width-5"
                    }
                    ]
                    }) }}


                    {{ govukDateInput({
                    id: "end-date",
                    name: "end-date",
                    fieldset: {
                    legend: {
                    text: "End date",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--s"
                    }
                    },
                    hint: {
                    text: "For example," + placeholder.endDay + " " + placeholder.endMonth + " " + placeholder.endYear
                    },
                    items: [
                    {attributes: {
                    "maxLength": "2"
                    },
                    label: "Day",
                    name: "endDay",
                    value: placeholder.endDay,
                    classes: "govuk-input--width-3"
                    },
                    {
                    label: "Month",
                    name: "endMonth",
                    value: placeholder.endMonth,
                    classes: "govuk-input--width-3"
                    },
                    {
                    label: "Year",
                    name: "endYear",
                    value: placeholder.endYear,
                    classes: "govuk-input--width-5"
                    }
                    ]
                    }) }}

                    {{ govukButton({
                    text: "Download report",
                    classes: "button-blue left-aligned"
                    }) }}
                </li>
            </ul>
        </div>
    </div>
    <div class="govuk-grid-column-one-third"></div>
    </form>
</div>
{% endblock %}