{% from "character-count/macro.njk" import govukCharacterCount %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "../../component/textarea/macro.njk" import textarea with context %}
{% from "input/macro.njk" import govukInput %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "../../component/menu/macro.njk" import menu %}


{% from "date-input/macro.njk" import govukDateInput %}
{% from "file-upload/macro.njk" import govukFileUpload %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}
{{ i18n.course.pageTitle.editCourseDetails if course else i18n.course.pageTitle.addCourseDetails }} - {{ i18n.proposition_name }}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/skills" %}

{% block content %}
{% set errors = sessionFlash.errors %}
{% set form = sessionFlash.form %}
{% set course = sessionFlash.course %}

{{ errorSummary(errors.fields) }}

<div class="govuk-grid-row add-new-question">
    <div class="govuk-grid-column-two-thirds">
        {% if question.id %}
            <h1 class="govuk-heading-m govuk-!-font-size-36">Edit question</h1>
            <form action="/content-management/skills/{{question.id}}/edit-question" method="post" class="course-form">
        {% else %}
            <h1 id="header" class="govuk-heading-m govuk-!-font-size-36">Add new question</h1>
            <form action="/content-management/skills/add-new-question" method="post" class="course-form">
        {% endif %}
                <input type="hidden" id="questionId" name="questionId" value="{{question.id}}">
                <input id="accessToken" type="hidden" value="{{identity.accessToken}}">
                <input id="courseCatalogueUrl" type="hidden" value="{{courseCatalogueUrl}}">
                <input id="mediaId" name="mediaId" type="hidden" value="">
                <input id="imgUrl" name="imgUrl" type="hidden" value="{{question.imgUrl}}">
                <fieldset class="govuk-fieldset">
                {{ textarea("value", "value", "Maximum of 500 characters", 500, form.value|default(question.value), "Question") }}

                <section class="answers">
                    <p class="label">Answers</p>
                    <input type="hidden" id="answerId" name="answerId" value="{{answerId}}">
                    <div class="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="answer0" type="checkbox" checked disabled>
                            <label class="govuk-label govuk-checkboxes__label placeholder" for="answer0">
                                <p>Please tick the checkboxes that contain the correct answers</p>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            {% if question.answer and question.answer.correctAnswers.includes('A') %}
                                <input class="govuk-checkboxes__input" id="answer1" name="correctAnswers" type="checkbox" value="A" checked>
                            {% else %}
                                <input class="govuk-checkboxes__input" id="answer1" name="correctAnswers" type="checkbox" value="A">
                            {% endif %}
                            <label class="govuk-label govuk-checkboxes__label" for="answer1">
                                <p class="hidden">checkbox for first answer</p>
                            </label>
                            <input class="govuk-input" id="answer1-txt" name="answers" type="text" value="{{form.answers[0]|default(keysAnswers[0])}}">
                            <label class="govuk-label govuk-input__label" for="answer1-txt">
                                <p class="hidden">input for first answer</p>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            {% if question.answer and question.answer.correctAnswers.includes('B') %}
                                <input class="govuk-checkboxes__input" id="answer2" name="correctAnswers" type="checkbox" value="B" checked>
                            {% else %}
                                <input class="govuk-checkboxes__input" id="answer2" name="correctAnswers" type="checkbox" value="B">
                            {% endif %}
                            <label class="govuk-label govuk-checkboxes__label" for="answer2">
                                <p class="hidden">checkbox for second answer</p>
                            </label>
                            <input class="govuk-input" id="answer2-txt" name="answers" type="text" value="{{form.answers[1]|default(keysAnswers[1])}}">
                            <label class="govuk-label govuk-input__label" for="answer2-txt">
                                <p class="hidden">input for second answer</p>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            {% if question.answer and question.answer.correctAnswers.includes('C') %}
                                <input class="govuk-checkboxes__input" id="answer3" name="correctAnswers" type="checkbox" value="C" checked>
                            {% else %}
                                <input class="govuk-checkboxes__input" id="answer3" name="correctAnswers" type="checkbox" value="C">
                            {% endif %}
                            <label class="govuk-label govuk-checkboxes__label" for="answer3">
                                <p class="hidden">checkbox for third answer</p>
                            </label>
                            <input class="govuk-input" id="answer3-txt" name="answers" type="text" value="{{form.answers[2]|default(keysAnswers[2])}}">
                            <label class="govuk-label govuk-input__label" for="answer3-txt">
                                <p class="hidden">input for third answer</p>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            {% if question.answer and question.answer.correctAnswers.includes('D') %}
                                <input class="govuk-checkboxes__input" id="answer4" name="correctAnswers" type="checkbox" value="D" checked>
                            {% else %}
                                <input class="govuk-checkboxes__input" id="answer4" name="correctAnswers" type="checkbox" value="D">
                            {% endif %}
                            <label class="govuk-label govuk-checkboxes__label" for="answer4">
                                <p class="hidden">checkbox for fourth answer</p>
                            </label>
                            <input class="govuk-input" id="answer4-txt" name="answers" type="text" value="{{form.answers[3]|default(keysAnswers[3])}}">
                            <label class="govuk-label govuk-input__label" for="answer4-txt">
                                <p class="hidden">input for fourth answer</p>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            {% if question.answer and question.answer.correctAnswers.includes('E') %}
                                <input class="govuk-checkboxes__input" id="answer5" name="correctAnswers" type="checkbox" value="E" checked>
                            {% else %}
                                <input class="govuk-checkboxes__input" id="answer5" name="correctAnswers" type="checkbox" value="E">
                            {% endif %}
                            <label class="govuk-label govuk-checkboxes__label" for="answer5">
                                <p class="hidden">checkbox for fifth answer</p>
                            </label>
                            <input class="govuk-input" id="answer5-txt" name="answers" type="text" value="{{form.answers[4]|default(keysAnswers[4])}}">
                            <label class="govuk-label govuk-input__label" for="answer5-txt">
                                <p class="hidden">input for fifth answer</p>
                            </label>
                        </div>
                    </div>

                </section>


                {{ textarea("why", "why", "This is the text that will be displayed after the user has completed the quiz", 500, form.why|default(question.why), "Text given after answer") }}

                {{ govukInput({
                label: {
                text: "Theme"
                },
                id: "theme",
                name: "theme",
                value: form.theme|default(question.theme)
                }) }}

                {{ govukInput({
                label: {
                text: "learning name"
                },
                id: "learningName",
                name: "learningName",
                value: form.learningName|default(question.learningName)
                }) }}

                {{ govukInput({
                label: {
                text: "learning reference"
                },
                id: "learningReference",
                name: "learningReference",
                value: form.learningReference|default(question.learningReference)
                }) }}

                <div class="add-file-form govuk-form-group">
                    <label class="govuk-label">Attach supporting image (optional)</label>
                    <input class="govuk-file-upload custom-uploader" id="file-upload" name="imageName" type="file" aria-describedby="file-upload" accept="image/*">
                    {% if not imageName %}
                        <label class="btn" for="file-upload"><span id="label-file-upload">Choose file</span></label>
                    {% else %}
                        <label class="btn" for="file-upload"><span id="label-file-upload">{{imageName}}</span></label>
                    {% endif %}
                </div>

                <p id="file-size" class="govuk-body"></p>
                <p id="progress" class="govuk-body"></p>

                <div id="file-size-warning" class="govuk-warning-text hidden">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        This is a large file and may take some time to upload
                    </strong>
                </div>

                {{ govukButton({
                attributes: {id: "uploadImageButton"},
                text: "Upload File",
                type: "button",
                classes: "button-blue left-aligned"
                }) }}

                {% if question.id %}
                    {{ govukButton({
                    attributes: {id: "removeImageButton"},
                    text: "Remove File",
                    type: "button",
                    classes: "button-red right-aligned"
                    }) }}
                {% endif %}

                <input id="imageRemoved" name="imageRemoved" type="hidden" value="False">

                <br>

                {{ govukInput({
                label: {
                    text: "Alternative text",
                    attributes: {id: "alternativeTextHeader"}
                },
                id: "alternativeText",
                name: "alternativeText",
                value: form.alternativeText|default(question.alternativeText)
                }) }}


            </fieldset>
            {% if question.id %}
                <div class="button-container">
                    {{ govukButton({
                    text: "Save changes",
                    type: "submit",
                    attributes: {id: "submitButton"}
                    }) }}
                </div>
            {% else %}
                <div class="button-container">
                    {{ govukButton({
                    text: "Add Question",
                    type: "submit",
                    attributes: {id: "submitButton"}
                    }) }}
                </div>
            {% endif %}

        </form>
        <a class="cancel-button govuk-body govuk-link" href="/content-management/skills">Cancel</a>
    </div>
    <div class="govuk-grid-column-one-third">
        {% if question.id %}
            <div class="right-menu">
                {% block menu %}
                {% set actions = [] %}
                {% set action = actions.push({
                link: '/content-management/skills/' + question.id + '/delete-question',
                text: 'Delete question'
                }) %}
                {% set action = actions.push({
                link: '/content-management/skills/' + question.id + '/preview',
                text: 'Preview'
                }) %}
                {{ menu("Actions", actions) }}
                {% endblock %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block bodyEnd %}
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>
<script src="/js/upload-image.js"></script>
<script src="/js/file-uploader.js"></script>
{% endblock %}