{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% extends "../../component/Page.njk" %}
{% from "radios/macro.njk" import govukRadios %}

{% block pageTitle %}
{{ i18n.course.pageTitle.editCourseDetails if course else i18n.course.pageTitle.addCourseDetails }} - {{ i18n.proposition_name }}
{% endblock %}

{% set backButton = "/content-management/skills/" + question.id + "/edit-question"%}



{% block content %}
<div class="govuk-grid-row add-new-question quiz-question">
    <div class="govuk-grid-column-two-thirds">
        <h1>Measure your skills quiz</h1>
        <h2>Question 1 of 18</h2>
        <h3>{{question.theme}}</h3>
        <p>{{question.value}}</p>
        {% if question.type !== "MULTIPLE" %}
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <h3>
                        Select a correct answer
                    </h3>
                    <div class="govuk-radios">
                        {% set index = 0 %}
                        {% for answer in answers %}
                            {% if answer and answer !== "" %}
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="{{answer}}" name="answer" type="radio" value="{{answer}}">
                                    <label class="govuk-label govuk-radios__label" for="{{answer}}">
                                        {{keys[index]}})&nbsp;{{answer}}
                                    </label>
                                </div>
                                {% set index =  index + 1  %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </fieldset>
                <br><br>
                <a href="#">Skip this question</a>
            </div>
        {% else %}
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
                <h3>
                    Select all correct answers
                </h3>
                <div class="govuk-checkboxes">
                    {% set index = 0 %}
                    {% for answer in answers %}
                        {% if answer and answer !== "" %}
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="{{answer}}" name="{{answer}}" type="checkbox" value="{{answer}}">
                                <label class="govuk-label govuk-checkboxes__label" for="{{answer}}">
                                    {{keys[index]}}) {{answer}}
                                </label>
                            </div>
                            {% set index =  index + 1  %}
                        {% endif %}
                    {% endfor %}
                </div>
            </fieldset>
            <br><br>
            <a href="#">Skip this question</a>
        </div>
        {% endif %}

        <div class="button-container">
            {{ govukButton({
                text: "Continue",
                href: "/content-management/skills/" + question.id + "/edit-question"
            }) }}
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <img alt="{{question.alternativeText}}" src="{{question.imgUrl}}">
    </div>
</div>
{% endblock %}