{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "../../component/menu/macro.njk" import menu %}
{% from "table/macro.njk" import govukTable %}
{% from "../../component/statusWithLabel/macro.njk" import statusWithLabel with context %}
{% from "../../component/changeStatus/macro.njk" import changeStatus with context %}



{% extends "../../component/Page.njk" %}

{% block pageTitle %}
{{ i18n.skills.title }} - {{ i18n['proposition_name'] }}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management" %}


{% block content %}

{% if not professionID%}
{{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
        {
            text: errorMessage,
            href: lpgUiUrl + "/profile/primary-area-of-work"
        }
    ],
    classes: "custom-error-message"
}) }}
{% endif %}

{% if professionID%}

{% if message != "" %}
    <p class="skills-message">{{message}}</p>
{% endif %}

{% if errorMessage != "" %}
    <p class="skills-message">{{errorMessage}}</p>
{% endif %}

<div class="govuk-grid-row quiz">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m govuk-!-font-size-36">Manage quiz</h1>
            <div>
                <table class="govuk-table quiz-questions">
                    <caption class="govuk-table__caption">Quiz history</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Profession</th>
                        <th scope="col" class="govuk-table__header">Times completed	</th>
                        <th scope="col" class="govuk-table__header">Average score</th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    {% if quizResults[0] %}
                        {% for quiz in quizResults %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell question-number">
                                {{quiz.profession}}
                            </td>
                            <td class="govuk-table__cell ">
                                {{quiz.numberOfAttempts}}
                            </td>
                            <td class="govuk-table__cell ">
                                {{quiz.averageScore}}
                            </td>
                        </tr>
                        {% endfor %}
                    {% elif quizResults.profession %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell question-number">
                                {{quizResults.profession}}
                            </td>
                            <td class="govuk-table__cell ">
                                {{quizResults.numberOfAttempts}}
                            </td>
                            <td class="govuk-table__cell ">
                                {{quizResults.averageScore}}
                            </td>
                        </tr>
                    {% else %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell question-number">

                        </td>
                        <td class="govuk-table__cell question-number">
                            No quizzes have been added yet.
                        </td>
                        <td class="govuk-table__cell question-number">
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>

                <table class="govuk-table quiz-questions">
                    <caption class="govuk-table__caption">Quiz questions</caption>
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Number</th>
                        <th scope="col" class="govuk-table__header">Question</th>
                        <th scope="col" class="govuk-table__header govuk-table__cell--numeric govuk-!-width-one-quarter"><span class="empty-header">Manage</span></th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                    {% if quiz.questions[0] %}
                        {% for question in quiz.questions %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell question-number govuk-width-one-quarter">
                                {{loop.index}}
                            </td>
                            <td class="govuk-table__cell ">
                                {{question.value}}
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric govuk-width-one-quarter">
                                <a href="/content-management/skills/{{question.id}}/edit-question">Manage</a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell question-number">

                        </td>
                        <td class="govuk-table__cell question-number">
                            No questions have been added yet.
                        </td>
                        <td class="govuk-table__cell question-number">
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>

        <p class="govuk-body">Note, once this quiz has been saved it will be published and therefore it will be available for public viewing.</p>


        <form action="/content-management/skills/publish-quiz" method="post" class="course-form">
            <div class="button-container">
                {{ govukButton({
                text: "Publish"
                }) }}
            </div>
        </form>

        <a class="cancel-button govuk-body govuk-link" href="/content-management">Cancel</a>
    </div>
    <div class="govuk-grid-column-one-third">
            <div class="right-menu department-admin">
                {% block statusWithLabel %}
                    {% if quiz.status == "DRAFT" %}
                        {{ statusWithLabel('Draft') }}
                    {% else %}
                        {{ statusWithLabel('Published') }}
                    {% endif %}
                {% endblock %}

                {% block menu %}
                    {% set actions = [] %}
                    {% set action = actions.push({
                        link: '/content-management/skills/add-new-question',
                        text: 'Add a new question'
                    }) %}
                    {% set action = actions.push({
                        link: '/content-management/skills/generate-report',
                        text: 'Generate quiz report'
                    }) %}
                    {% set action = actions.push({
                        link: '/content-management/skills/edit-quiz-description',
                        text: 'Edit quiz description'
                    }) %}
                    {% set action = actions.push({
                    link: '/content-management/skills/delete-quiz',
                    text: 'Delete quiz'
                    }) %}
                    {{ menu("Actions", actions) }}
                {% endblock %}
            </div>
        </div>
    </div>

{% endif %}


{% endblock %}

{% block bodyEnd %}
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>
<script type="text/javascript" src="/js/accessible-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/manage-orgs.js"></script>
<script src="/js/file-uploader.js"></script>
{% endblock %}