{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "../../component/menu/macro.njk" import menu %}
{% from "table/macro.njk" import govukTable %}


{% extends "../../component/Page.njk" %}

{% block pageTitle %}
{{ i18n.skills.title }} - {{ i18n['proposition_name'] }}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management" %}

<!--{% set uploadedFileNotCSV = sessionFlash.uploadedFileNotCSV %}-->

{% block content %}

{% if not professionID %}
{{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
        {
            text: "Profession does not exist, skills quiz cannot be accessed."
        }
    ],
    classes: "custom-error-message"
}) }}
{% endif %}

<div class="govuk-grid-row quiz">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m govuk-!-font-size-36">Manage quiz</h1>
        <form action="/content-management/skills" method="post" class="skills-form" enctype="multipart/form-data">

            <div class="data-table">
                {{ govukTable({
                caption: "Data table",
                head: [
                    {
                        text: "Profession"
                    },
                    {
                        text: "Times completed",
                        format: "numeric"
                    },
                    {
                        text: "Average score",
                        format: "numeric"
                    }
                ],
                rows: [
                    [
                        {
                            text: professionName
                        },
                        {
                            text: "48",
                            format: "numeric"
                        },
                        {
                            text: "3/4",
                            format: "numeric"
                        }
                    ]
                ]
                }) }}

            </div>

            <table class="govuk-table quiz-questions">
                <caption class="govuk-table__caption">Quiz questions</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Number</th>
                        <th scope="col" class="govuk-table__header">Question</th>
                        <th scope="col" class="govuk-table__header govuk-table__cell--numeric"><span class="empty-header">Manage</span></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    {% for question in professionQuestions %}
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell question-number">
                                {{loop.index}}
                            </td>
                            <td class="govuk-table__cell ">
                                {{question.value}}
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <a href="#">manage</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a class="add-question" href="/content-management/skills/add-new-question">Add a new question</a>

            <p class="govuk-body">Note, once this quiz has been saved it will be published and therefore it will be available for public viewing.</p>
            <div class="button-container">
                {{ govukButton({
                    text: "Preview and save"
                }) }}
            </div>
            <a class="cancel-button govuk-body govuk-link" href="/content-management">Cancel</a>
        </form>
    </div>
        <div class="govuk-grid-column-one-third">
            <div class="right-menu">
                {% block menu %}
                    {% set actions = [] %}
                    {% set action = actions.push({
                        link: '/content-management/courses/visibility',
                        text: 'Delete Quiz'
                    }) %}
                    {% set action = actions.push({
                        link: '/content-management/skills/generate-report',
                        text: 'Generate quiz report'
                    }) %}
                    {{ menu("Actions", actions) }}
                {% endblock %}
            </div>
        </div>
</div>


{% endblock %}

{% block bodyEnd %}
<script src="/govuk-frontend/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>
<script type="text/javascript" src="/js/accessible-autocomplete.min.js"></script>
<script type="text/javascript" src="/js/manage-orgs.js"></script>
<script src="/js/file-uploader.js"></script>
{% endblock %}