{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "../../component/menu/macro.njk" import menu %}
{% from "table/macro.njk" import govukTable %}
{% from "select/macro.njk" import govukSelect %}



{% extends "../../component/Page.njk" %}

{% block pageTitle %}
{{ i18n.skills.title }} - {{ i18n['proposition_name'] }}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management" %}

<!--{% set uploadedFileNotCSV = sessionFlash.uploadedFileNotCSV %}-->

{% block content %}


<div class="govuk-grid-row quiz">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-m govuk-!-font-size-36">Skills overview</h1>

        <table class="govuk-table quiz-questions">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Profession</th>
                <th scope="col" class="govuk-table__header">Times completed	</th>
                <th scope="col" class="govuk-table__header">Average score</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            {% if quizzes[0] %}
                {% for quiz in quizzes %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell question-number">
                        {{quiz.profession.name}}
                    </td>
                    <td class="govuk-table__cell ">
                        {{quiz.numberOfAttempts}}
                    </td>
                    <td class="govuk-table__cell ">
                        {{quiz.averageScore}}
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell question-number">

                    </td>
                    <td class="govuk-table__cell question-number">
                        No quizzes have been added yet.
                    </td>
                    <td class="govuk-table__cell question-number">
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <!--    <a class="add-question" href="/content-management/skills/add-new-question">Add a new question</a>-->

    <div class="govuk-grid-column-one-third">
        <div class="right-menu">
            {% block menu %}
            {% set actions = [] %}
                {% set action = actions.push({
                link: '/content-management/skills/generate-report',
                text: 'Generate quiz report'
                }) %}
            {{ menu("Actions", actions) }}
            {% endblock %}
        </div>
    </div>
</div>


{% endblock %}

