<ul class="list">
    <li class="provider-headers"><span class="govuk-body first-header">Title</span><span class="govuk-body">Added on</span></li>

    {% for tanc in learningProvider.termsAndConditions %}
    <li class="list-details plist-details u--border--bgrey">
        <p class="govuk-body list-item list-name" href="/content-management/course/{{ tanc.id }}">{{ tanc.name }}</p>
        <p class="govuk-body list-item list-date">13th August 2018</p>
        <a class="govuk-link list-link " href="/content-management/terms-and-conditions/{{ tanc.id }}">Delete</a>
        <a class="govuk-link list-link " href="/content-management/terms-and-conditions/{{ tanc.id }}">Edit</a>
    </li>
    {% endfor %}
</ul>