.list {
	color: $font-color;

	.list-details {
		padding: 15px 0;

		&.course {
			display: flex;
			justify-content: space-between;

			.course-details {
				padding-right: 5px;
			}

			.course-status {
				text-align: right;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				min-width: 82px;
				align-items: flex-end;
			}
		}

		.list-name {
			margin: 0;
			display: inline-block;
		}

		.list-title {
			font-size: $font-mobile;
			margin-bottom: 20px;
			display: inline-block;
			font-weight: 700;
		}

		.list-padding {
			padding: 10px 8px 10px 0;
		}

		.list-link {
			padding: 0;
			display: block;
		}
	}
}

.search-results-row {
	.govuk-heading-m {
		font-weight: normal;
		font-size: $font-normal;
	}

	&.custom {
		font-weight: bold;
		font-size: 24px;
	}
}

@media screen and (min-width: $tablet-small) {
	.list {
		.list-details {
			.list-title {
				font-size: $font-normal;
			}
		}
	}
}
