.list {
	color: $font-color;

	.list-details {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;

		.list-padding {
			padding: 10px 8px 10px 0;
		}

		.list-link {
			padding: 0;
			margin: 10px 8px 10px 0;
			width: 34px;
			font-size: $font-normal;

			&:focus {
				background-color: $link-focus;
				outline: 3px solid $link-focus;
			}
		}
	}
}
