.header-search {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.search-container {
	width: 100%;
	margin-bottom: 30px;
	position: relative;

	.search {
		width: 100%;
	}

	.search-button {
		position: absolute;
		display: block;
		overflow: hidden;
		width: 38px;
		height: 38px;
		right: 0;
		top: 0;
		border: 0;
		text-indent: 200px;
		background-color: $font-color;
		background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='33px' height='31px' viewBox='0 0 33 31' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' transform='translate(2.000000, 2.000000)'%3E%3Ccircle id='Oval' stroke='%23FFFFFF' stroke-width='4' cx='11' cy='11' r='11'%3E%3C/circle%3E%3Cpolygon id='Rectangle' fill='%23FFFFFF' points='20.4732919 15 30.5440491 24.7252172 27.0707572 28.3219162 17 18.596699'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 64%;
		cursor: pointer;
		font-size: 1px;
	}
}

@media screen and (min-width: $tablet-small) {
	.header-search {
		flex-direction: row;
	}

	.search-container {
		width: 390px;
		margin-left: 10px;
	}
}
