<div class="search-container">
	<form action="/content-management/search/" method="get">
		<input class="govuk-input search" id="q" type="text" name="q" value="{{query}}" placeholder="Search" />
		<button class="search-button">Search</button>
	</form>
</div>
