<div class="search-container">
    <form action="/content-management/" method="post">
        <input class="govuk-input search" type="text" placeholder="Search" />
        <button class="search-button">Search</button>
    </form>
</div>