<h1 class="govuk-heading-l">{{ course.title }}</h1>

<p class="govuk-body">{{ course.description }}</p>

{% if course.learningOutcomes %}
    <h3 class="govuk-heading-m">Learning outcomes</h3>
    <pre class="govuk-body pre">{{ course.learningOutcomes }}</pre>
{% endif %}


        

