<h2 class="govuk-heading-m">Course overview</h2>

<ul class="list">
    <li class="u--border--bgrey">
        <div class="overview-item">
            <p>Added on</p>
        </div>
    </li>
    <li class="u--border--bgrey">
        <div class="overview-item">
            <p>Added by</p>
        </div>
    </li>
    <li class="u--border--bgrey">
        <div class="overview-item">
            <p>Type</p>
        </div>
    </li>
    <li class="u--border--bgrey">
        <div class="overview-item">
            <p>Cost</p>
        </div>
    </li>
    <li class="u--border--bgrey">
        <div class="overview-item">
            <p>Level</p> 
        </div>
    </li>
    <li class="u--border--bgrey">
        <div class="overview-item">
            <p>Learning Provider</p>
        </div>
    </li>
</ul>