{% from "table/macro.njk" import govukTable %}

{{ govukTable({
  firstCellIsHeader: true,
  classes: "course-table",
  rows: [
    [
      {
        text: "Added on"
      },
      {
        text: "24th July 2018"
      }
    ],
    [
      {
        text: "Added by"
      },
      {
        text: "Michael Jones"
      }
    ],
    [
      {
        text: "Type"
      },
      {
        text: course.getType()
      }
    ],
    [
        {
        text: "Cost"
        },
        {
        text: "£" + course.getCost()
        }
    ],
    [
      {
        text: "Level"
      },
      {
        text: "AO to SEO"
      }
    ],
    [
      {
        text: "Learning Provider"
      },
      {
        text: "KPMG"
      }
    ]
  ]
}) }}

