<h2 class="govuk-heading-m">Course overview</h2>

<ul class="list">
    <li class="u--border--bgrey">
        <div class="overview">
            <span class="overview-item">Added on</span>
            <span class="overview-item">24th July 2018<span>
        </div>
    </li>
    <li class="u--border--bgrey">
        <div class="overview">
            <span class="overview-item">Added by</span>
            <span class="overview-item">Michael Jones</span>
        </div>
    </li>
    <li class="u--border--bgrey">
        <div class="overview">
            <span class="overview-item">Type</span>
            <span class="overview-item">{{ course.getType() }}</span>
        </div>
    </li>
    <li class="u--border--bgrey">
        <div class="overview">
            <span class="overview-item">Cost</span>
            <span class="overview-item">£{{course.getCost()}}</span>
        </div>
    </li>
    <li class="u--border--bgrey">
        <div class="overview">
            <span class="overview-item">Level</span>
            <span class="overview-item">AO to SEO</span>
        </div>
    </li>
    <li class="u--border--bgrey">
        <div class="overview">
            <span class="overview-item">Learning Provider</span>
            <span class="overview-item">KPMG</span>
        </div>
    </li>
</ul>