.govuk-label {
	font-weight: 700;
}

.form-header {
	color: $govuk-secondary-text-colour;
	margin: 0;
}

.time-inputs {
	display: flex;
	justify-content: flex-start;

	.govuk-input--width-3 {
		margin-right: 20px;
	}

	.govuk-label {
		font-weight: 400;
	}

	.govuk-select {
		width: 51px;
	}
}

.govuk-error-summary {
	.custom-error-message {
		font-weight: 700;
		color: $error-message;
		margin: 0;
	}
}

.govuk-checkboxes__label {
	font-weight: 400;

	.custom-error-message {
		font-weight: 700;
		color: $error-message;
	}
}

.govuk-hint {
	font-size: $font-mobile;
	color: $govuk-secondary-text-colour;
	margin-top: 0;
}

.audience-form {
	padding-top: 50px;
}

.no-errors {
	display: none;
}

.button-blue {
	background-color: govuk-colour('blue');

	&:hover {
		background-color: govuk-colour('blue');
	}

	&:focus {
		background-color: govuk-colour('blue');
	}

	&.left-aligned {
		margin-left: 0;
	}
}

.button-container {
	padding-top: 50px;
}

.bottom-button {
	margin-bottom: 60px;
}

.cancel-button {
	display: block;
}

.select-with-button {
	.govuk-form-group {
		width: 100%;
		display: inline-block;
		margin-bottom: 30px;
	}
	.govuk-button {
		margin: 0 0 30px 0;
	}
}

.date-set {
	label {
		font-weight: normal;
	}
}

.button-blue {
	background-color: $govuk-link-colour;

	&:hover {
		background-color: darken($govuk-link-colour, 10%);
	}

	&:focus {
		background-color: $govuk-link-colour;
	}
}

.audience-fieldset {
	&.govuk-form-group--error {
		padding-left: 15px;
		border-left: 5px solid #b10e1e;
	}
}

.autocomplete__wrapper {
	position: relative;
}

.autocomplete__hint,
.autocomplete__input {
	-webkit-appearance: none;
	border: 2px solid;
	border-radius: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 0;
	width: 100%;
}

// .typeahead-container {
// 	display: none;
// }

.autocomplete__input {
	background-color: transparent;
	position: relative;
}

.autocomplete__hint {
	color: #bfc1c3;
	position: absolute;
}

.autocomplete__input--default {
	padding: 4px;
}

.autocomplete__input--focused {
	outline-offset: 0;
	outline: 3px solid #ffbf47;
}

.autocomplete__input--show-all-values {
	padding: 4px 34px 4px 4px;
	cursor: pointer;
}

.autocomplete__dropdown-arrow-down {
	z-index: -1;
	display: inline-block;
	position: absolute;
	right: 8px;
	width: 24px;
	height: 24px;
	top: 10px;
}

.autocomplete__menu {
	background-color: #fff;
	border: 2px solid #0b0c0c;
	border-top: 0;
	color: #34384b;
	margin: 0;
	max-height: 342px;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
	width: calc(100% - 4px);
}

.autocomplete__menu--visible {
	display: block;
}

.autocomplete__menu--hidden {
	display: none;
}

.autocomplete__menu--overlay {
	box-shadow: rgba(0, 0, 0, 0.256863) 0 2px 6px;
	left: 0;
	position: absolute;
	top: 100%;
	z-index: 100;
}

.autocomplete__menu--inline {
	position: relative;
}

.autocomplete__option {
	border-bottom: solid #bfc1c3;
	border-width: 1px 0;
	cursor: pointer;
	display: block;
	position: relative;
}

.autocomplete__option > * {
	pointer-events: none;
}

.autocomplete__option:first-of-type {
	border-top-width: 0;
}

.autocomplete__option:last-of-type {
	border-bottom-width: 0;
}

.autocomplete__option--odd {
	background-color: #fafafa;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
	background-color: #005ea5;
	border-color: #005ea5;
	color: #fff;
	outline: 0;
}

.autocomplete__option--no-results {
	background-color: #fafafa;
	color: #646b6f;
	cursor: not-allowed;
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
	font-size: 16px;
	line-height: 1.25;
}

.autocomplete__hint,
.autocomplete__option {
	padding: 4px;
}

.autocomplete__menu--inline {
	position: absolute;
	z-index: 10;
}

@media screen and (min-width: $tablet-small) {
	.autocomplete__hint,
	.autocomplete__input,
	.autocomplete__option {
		font-size: 19px;
		line-height: 1.31579;
	}

	.select-with-button {
		.govuk-form-group {
			width: 66%;
			margin: 0 10px 30px 0;
		}

		.govuk-button {
			margin: 30px 0 0 0;
		}
	}

	button.button-blue {
		margin-left: 10px;
	}

	.small-input {
		width: 130px;
	}

	.audience-fieldset {
		padding-right: 110px;

		&.govuk-form-group--error {
			padding-right: 95px;
			padding-left: 15px;
			border-left: 5px solid #b10e1e;
		}
	}
}
