.govuk-label {
	font-weight: 700;
}

.form-header {
	color: $govuk-secondary-text-colour;
	margin: 0;
}

.time-inputs {
	display: flex;
	justify-content: flex-start;

	.govuk-input--width-3 {
		margin-right: 20px;
	}

	.govuk-label {
		font-weight: 400;
	}
}

.govuk-checkboxes__label {
	font-weight: 400;

	.custom-error-message {
		font-weight: 700;
		color: $error-message;
	}
}

.button-blue {
	background-color: govuk-colour('blue');

	&:hover {
		background-color: govuk-colour('blue');
	}

	&:focus {
		background-color: govuk-colour('blue');
	}
}

.bottom-button {
	margin-bottom: 60px;
}

.cancel-button {
	display: block;
}

.select-with-button {
	.govuk-form-group {
		width: 100%;
		display: inline-block;
		margin-bottom: 30px;
	}
	.govuk-button {
		margin: 0 0 30px 0;
	}
}

@media screen and (min-width: $tablet-small) {
	.select-with-button {
		.govuk-form-group {
			width: 66%;
			margin: 0 10px 30px 0;
		}

		.govuk-button {
			margin: 30px 0 0 0;
		}
	}
}

.button-blue {
	background-color: $govuk-link-colour;

	&:hover {
		background-color: darken($govuk-link-colour, 10%);
	}

	&:focus {
		background-color: $govuk-link-colour;
	}
}

@media screen and (min-width: $tablet-small) {
	button.button-blue {
		margin-left: 10px;
	}
}
