.app-html-class {
	font-family: 'nta', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.govuk-header__navigation-item--active a:link,
.govuk-header__navigation-item--active a:hover,
.govuk-header__navigation-item--active a:visited {
	color: $white;
}

.govuk-grid-column-two-thirds {
	.govuk-heading-m {
		padding-top: 0;
	}
}

.govuk-header__container {
	border-color: $theme;
}

.govuk-footer {
	border-top: 10px solid $theme;
}

.u--border--bgrey {
	border-bottom: 1px solid $border;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.right-menu {
	border: 1px solid $border;
	border-top: 8px solid $theme;
	margin-bottom: 50px;

	.menu-header {
		font-weight: 700;
		font-size: 20px;
		margin: 10px 0;
	}

	.menu-link {
		font-size: $font-normal;
	}
}

.pager__controls {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: row-reverse;
	padding: 15px 0;
}

.font-bold {
	font-weight: 700;
}

.font-light {
	font-weight: 400;
}

.cancel-button {
	display: block;
	width: 57px;
}

.panel {
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;

	&.panel-blue {
		background-color: $govuk-link-colour;
	}

	.govuk-heading-s {
		color: $white;
		margin-bottom: 0;
	}

	.govuk-body {
		color: $white;
	}

	.panel-links {
		font-weight: bold;
		color: $white;
		margin: 0 10px;
	}
}

.custom-panel {
	text-align: left;
	padding: 15px 10px;

	.white {
		margin: 0;
		line-height: 1.4;
	}
	.govuk-body {
		margin: 0;
	}
}

.list-container {
	margin-bottom: 50px;
}

.white {
	color: $white;
}

.btn {
	display: none;
}

.js-enabled {
	.add-file-form {
		span {
			font-size: $font-mobile;
		}

		.btn {
			border: 2px solid $font-color;
			color: $font-color;
			background-color: white;
			padding: 8px;
			border-radius: 5px;
			font-size: $font-mobile;
			font-weight: bold;
			display: inline-block;
			cursor: pointer;
		}

		.custom-uploader {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;

			&:focus {
				& + label {
					outline: 3px solid #ffbf47;
				}
			}
		}
	}
}

.provider-list {
	margin-bottom: 30px;
}

.course-table {
	.govuk-table__header {
		width: 50%;
		padding: 15px 20px 15px 0;
	}
}

.no-margin {
	margin-bottom: 0;
}

.button-red {
	background-color: $theme;
	color: $white;
	padding: 5px 10px;
	border: none;
	text-decoration: none;

	&:focus {
		background-color: $theme;
	}

	&:hover {
		background-color: $theme;
	}
}

@media screen and (min-width: $tablet-small) {
	.govuk-input,
	.govuk-textarea {
		width: 75%;
	}

	.pager__controls {
		font-size: $font-normal;
	}

	.govuk-grid-column-one-third {
		width: 33.3334%;
	}

	button.button-blue {
		margin-left: 5px;
	}
}
