.govuk-template__body {
	font-family: 'nta', Arial, sans-serif;
	line-height: 1.31579;
	-webkit-font-smoothing: antialiased;
}

.govuk-header__navigation-item--active a:link,
.govuk-header__navigation-item--active a:hover,
.govuk-header__navigation-item--active a:visited {
	color: $white;
}

.govuk-header__container {
	border-color: $theme;
}

.govuk-footer {
	border-top: 10px solid $theme;
}

.u--border--bgrey {
	border-bottom: 1px solid $border;
}

ul {
	padding: 0;
	margin: 0;
}

a {
	color: $link;

	&:visited {
		color: $link-visited;
	}

	&:hover {
		color: $link-hover;
	}
}

.button-red {
	background-color: $theme;
	color: $white;
	padding: 5px 10px;
	border: none;
	width: 49px;
	font-weight: 700;
	transition: background-color, 0.3s;
	text-decoration: none;
	margin: 5px 0;

	&:hover {
		background-color: darken($theme, 10%);
		color: $white;
	}
}
