$theme: #af292e;
$white: #fff;
$font-color: #0b0c0c;
$border: #bfc1c3;
$error-message: #b10e1e;
$outline: #ffbf47;
$hint: #6f777b;

$link: #005ea5;
$link-visited: #4c2c92;
$link-hover: #2b8cc4;

$font-mobile: 16px;
$font-normal: 19px;

$tablet-small: 641px;
