@import '../../../node_modules/govuk-frontend/all.scss';
@import './_variables';
@import './_global';
@import './_forms';

@import './page/_add-module';
@import './page/_add-organisation.scss';
@import './page/_attendee';
@import './page/_configure-audience';
@import './page/_course-overview';
@import './page/_course-preview';
@import './page/_events';
@import './page/_events-preview';
@import './page/_events-overview';
@import './page/organisations';
@import '../../component/audiences/styles';
@import '../../component/changeStatus/styles';
@import '../../component/courseDetails/styles';
@import '../../component/courseModules/styles';
@import '../../component/coursePreview/styles';
@import '../../component/errorSummary/styles';
@import '../../component/list/styles';
@import '../../component/menu/styles';
@import '../../component/nav/styles';
@import '../../component/providerList/styles';
@import '../../component/search/styles';
@import '../../component/statusWithLabel/styles';
@import '../../component/status/styles';
@import '../../component/timeInputs/styles';
@import '../../component/textarea/styles';
@import '../../component/cancellationReason/styles';
