<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} - Civil Service Learning</title>
    <link rel="stylesheet" href="/styles/main.css?v=">
</head>
<body>
<div id="global-cookie-message">
    <p>
        Civil Service Learning uses cookies to make the site simpler.
        <a href="/cookies"> Find out more about cookies</a>
    </p>
</div>
{% include "./Header.html" %}
<div id="content">{% block content %}{% endblock %}</div>
{% include "./Feedback.html" %}
{% include "./Footer.html" %}
<script src="/scripts/all.js"></script>
<script>window.GOVUKFrontend.initAll()</script>
</body>
</html>
