{% from "textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
    name: name,
    id: name,
    attributes:{
        maxlength: maxlength
    },
    label: {
        text: label
    }
}) }}

<script src="./charcount.js"></script>