{% extends "../../../../component/Page.njk" %}
{% from "button/macro.njk" import govukButton %}
{% from "../../../../component/menu/macro.njk" import menu %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + course.id + "/modules/" + module.id + "/events-overview/" + event.id %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="gov-uk-heading-l">Attendee details</h1>
            <div class="event-overview">
                <h2 class="govuk-heading-m">{{eventDateWithMonthAsText}}, {{event.venue.location}}</h3>
                <p class="govuk-body">This event is for the <strong>{{module.title}}</strong> module on the <strong>{{course.title}}</strong> course.</p>
                <h3 class="govuk-heading-m">Attendee</h3>
                <div class="attendee-details">
                    <ul class="attendees list">
                        <li class="list-details view"><p class="govuk-body"><strong>Email</strong></p><p class="govuk-body">{{ booking.learnerEmail }}</p></li>
                        <li class="list-details column-view">
                            <span class="list-details span-view">
                                <p class="govuk-body"><strong>Booking status</strong></p>
                                <p class="govuk-body">
                                    {% if booking.status === "Requested" %}
                                        {{i18n.attendee.status.Requested}}
                                    {% elif booking.status === "Confirmed" %}
                                        {{i18n.attendee.status.Confirmed}}
                                    {% elif booking.status === "Cancelled" %}
                                        {{i18n.attendee.status.Cancelled}}
                                    {% endif %}
                                </p>
                            </span>
                            {% if booking.status === "Requested" %}
                                <form action="/content-management/courses/{{ course.id }}/modules/{{ module.id }}/events/{{ event.id }}/attendee/{{ booking.id }}/update" method="post" class="attendee-button">
                                    <input type="hidden" name="_csrf" value="{{_csrf}}" />
                                    <button type="submit" class="linkish-button">Change to booked</button>
                                </form>
                            {% endif %}
                        </li>
                        {% if booking.poNumber %}
                            <li class="list-details view"><p class="govuk-body"><strong>PO Number</strong></p><p class="govuk-body">{{ booking.poNumber }}</p></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="right-menu">
                {% block menu %}
                    {% set actions = [
                        {
                            link: '/content-management/courses/' + course.id + '/modules/' + module.id + '/events/' + event.id + '/attendee/' + booking.id + '/cancel',
                            text: 'Cancel Attendee'
                        }
                    ] %}
                    {{ menu("Actions", actions) }}
                {% endblock %}
            </div>
        </div>
        <div class="govuk-grid-column-oneo-third">
        </div>
    </div>
{% endblock %}