{% extends "../../../../component/Page.njk" %}

{% from "select/macro.njk" import govukSelect %}
{% from "button/macro.njk" import govukButton %}

{% block pageTitle %}{{ i18n.attendee.title.cancel }} - {{ i18n['proposition_name'] }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + courseId + "/modules/" + moduleId + "/events/" + event.id + "/attendee/" + booking.id %}

{% block content %}

{% set errors = sessionFlash.errors %}
{{ errorSummary(errors.fields) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="gov-uk-heading-l">{{i18n.attendee.title.cancel}}</h1>
        <div class="event-overview">
            <h2 class="govuk-heading-m">{{eventDateWithMonthAsText}}, {{event.venue.location}}</h2>
            <p class="govuk-body">This event is for the <strong>{{module.title}}</strong> module on the <strong>{{course.title}}</strong> course.</p>
            <h3 class="govuk-heading-m">Attendee</h3>
            <div class="attendee-details">
                <ul class="attendees list">
                    <li class="list-details view"><p class="govuk-body"><strong>Email</strong></p><p class="govuk-body">{{ booking.learnerEmail }}</p></li>
                    <li class="list-details column-view">
                            <span class="list-details span-view">
                                <p class="govuk-body"><strong>Booking status</strong></p>
                                <p class="govuk-body">
                                    {% if booking.status === "Requested" %}
                                        {{i18n.attendee.status.Requested}}
                                    {% elif booking.status === "Confirmed" %}
                                        {{i18n.attendee.status.Confirmed}}
                                    {% elif booking.status === "Cancelled" %}
                                        {{i18n.attendee.status.Cancelled}}
                                    {% endif %}
                                </p>
                            </span>
                    </li>
                </ul>
            </div>
            <form action="/content-management/courses/{{courseId}}/modules/{{moduleId}}/events/{{event.id}}/attendee/{{booking.id}}/cancel" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                {% if errors.fields.cancellationReason %}
                    {{ govukSelect({
                        id: "cancellationReason",
                        name: "cancellationReason",
                        errorMessage: {
                            text: "Please select a reason"
                        },
                        label: {
                            text: "Cancellation reason"
                        },
                        items: [
                            {
                                value: "",
                                text: "Choose a cancellation reason",
                                selected: true
                            },
                            {
                                value: "reason1",
                                text: "The booking has not been paid"
                            },
                            {
                                value: "reason2",
                                text: "The learner has requested that the booking be cancelled"
                            }
                        ]
                    }) }}
                {% else %}
                    {{ govukSelect({
                        id: "cancellationReason",
                        name: "cancellationReason",
                        label: {
                            text: "Cancellation reason"
                        },
                        items: [
                        {
                            value: "",
                            text: "Choose a cancellation reason",
                            selected: true
                        },
                        {
                            value: "reason1",
                            text: "The booking has not been paid"
                        },
                        {
                            value: "reason2",
                            text: "The learner has requested that the booking be cancelled"
                        }
                        ]
                    }) }}
                {% endif %}
                <div class="button-container">
                    {{ govukButton({
                        text: "Cancel Attendee",
                        classes: "button-red"
                    }) }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}