{% from "select/macro.njk" import govukSelect %}
{% from "button/macro.njk" import govukButton %}

{% extends "../../../../component/Page.njk" %}

{% block pageTitle %}{{ i18n.event.title.cancel }} - {{ i18n['proposition_name'] }}{% endblock %}

{% set banner = true %}
{% if event %}
{% set backButton = "/content-management/courses/" + courseId + "/modules/" + moduleId + "/events-overview/" + event.id %}
{% else %}
{% set backButton = "/content-management/courses/" + courseId + "/overview" %}
{% endif %}

{% block content %}

{% set errors = sessionFlash.errors %}
{{ errorSummary(errors.fields) }}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l no-margin">Cancel event</h1>
        <p class="govuk-body">This event is for the <strong>{{module.title | default("Module title", true)}}</strong> module on <a href="/content-management/courses/{{courseId}}/overview" class="govuk-link">{{course.title}}</a>.</p>
        <p class="govuk-body no-margin">Cancelling the event notifies the attendees by email. Payment will be refunded.</p>
        <p class="govuk-body">The event will be labelled as cancelled on the event overview page.</p>
        <p class="govuk-body">A cancellation cannot be undone.</p>
        <form action="{{'/content-management/courses/' + courseId + '/modules/' + moduleId + '/events/' + event.id + '/cancel'}}" method="post">
            <input type="hidden" value="{{event.id}}" name="id">
            <select class="govuk-select" id="cancellationReason" name="cancellationReason">
                <option value="">Choose a cancellation reason</option>
                {% for cancellationReason, value in  cancellationReasons %}
                    <option value="{{cancellationReason}}">{{value}}</option>
                {% endfor %}
            </select>
            <div class="button-container">
                {{ govukButton({
                    text: "Cancel event",
                    classes: "button-red"
                }) }}
            </div>
        </form>
    </div>
</div>

{% endblock %}