{% from "table/macro.njk" import govukTable %}
{% from "../../../../component/menu/macro.njk" import menu %}

{% extends "../../../../component/Page.njk" %}

{% block pageTitle %}{{ i18n['event_overview'] }} - {{ i18n.proposition_name }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + course.id + "/overview" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l no-margin">{{event.venue.location | default("Location unset", true)}}, {{(event.dateRanges[0].date) | dateWithMonthAsText}}</h1>
    </div>
  </div>
     <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">This event is for the <strong>{{module.title | default("Module title", true)}}</strong> module on the <a href="/content-management/courses/{{course.id}}/overview" class="govuk-link">{{course.title}}</a> course</p>
          <div class="event-overview">
            <h3 class="govuk-heading-m">Event overview</h3>

            {% set dateList = [] %}
              {% for dateRange in event.dateRanges %}
                {% set eventDate = dateList.push('<p class="govuk-body no-margin">'+(dateRange.date | dateWithMonthAsText)+'</p>') %}
              {% endfor %}
              {% set list = dateList|join %}

              {{ govukTable({
                firstCellIsHeader: true,
                classes: "course-table event-table",
                rows: [
                  [
                    {
                      text: "Added on"
                    },
                    {
                      text: "11 September 2018",
                      format: "numeric"
                    }
                  ],
                  [
                    {
                      text: "Added by"
                    },
                    {
                      text: "course-manager@domain.com",
                      format: "numeric"
                    }
                  ],
                  [
                    {
                      text: "Number of spaces"
                    },
                    {
                      text: event.venue.capacity,
                      format: "numeric"
                    }
                  ],
                  [
                      {
                        text: "Minimum capacity"
                      },
                      {
                        text: event.venue.minCapacity,
                        format: "numeric"
                      }
                  ],
                  [
                      {
                        text: "Event dates",
                        classes: "vertical"
                      },
                      {
                        html: list,
                        format: "numeric"
                      }
                  ],
                  [
                    {
                      text: "Event reminder"
                    },
                    {
                      text: "14 days",
                      format: "numeric"
                    }
                  ],
                  [
                    {
                      text: "Town/city"
                    },
                    {
                      text: event.venue.location,
                      format: "numeric"
                    }
                  ],
                  [
                    {
                      text: "Venue address"
                    },
                    {
                      text: event.venue.address,
                      format: "numeric"
                    }
                  ]
                ]
              }) }}
            </div>
            <div class="course-attendees">
              <h3 class="govuk-heading-m">Course attendees</h3>
              {% if course.attendees > 0 %}
              {% else %}
                <p class="govuk-body">This course doesn't have any attendees yet.</p>
              {% endif %}
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="right-menu">
                {% block menu %}
                {% set actions = [
                        {
                            link: '/content-management/courses/' + course.id + '/modules/' + module.id + '/events/' + event.id + '/dateRanges/',
                            text: 'Edit time and date'
                        },
                        {
                            link: '/content-management/courses/' + course.id + '/modules/' + module.id + '/events/' + event.id + '/location/',
                            text: 'Edit location and capacity'
                        }
                    ] %}
                    {{ menu("Actions", actions) }}
                {% endblock %}
            </div>
        </div>
     </div>
  </div>
{% endblock %}
