{% extends "../../../../component/Page.njk" %}

{% block beforeContent %}
  {% block phaseBanner %}
    {{ phaseBanner("beta") }}
  {% endblock%}
  {% block backLink %}
        {{ backLink("/content-management/courses/" + course.id + "/overview") }}
  {% endblock%}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">{{ event.date | default("Unset date", true) }}, {{ event.location | default("Location", true) }}</h1>
    </div>
  </div>
{% endblock %}