{% from "table/macro.njk" import govukTable %}
{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "../../../../component/statusWithLabel/macro.njk" import statusWithLabel with context %}
{% from "../../../../component/menu/macro.njk" import menu %}
{% from "../../../../component/cancellationReason/macro.njk" import cancellationReason with context %}

{% extends "../../../../component/Page.njk" %}

{% block pageTitle %}{{ i18n['event_overview'] }} - {{ i18n.proposition_name }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + course.id + "/overview" %}

{% block content %}

    {% set emailAddressFoundMessage = sessionFlash.emailAddressFoundMessage %}
    {% set eventCancelledMessage = sessionFlash.eventCancelledMessage %}
    {% set emailAddress = sessionFlash.emailAddress %}
    {% set errors = sessionFlash.errors %}

    {% if emailAddressFoundMessage %}
        {% set panelError = "error" %}
        {% if emailAddressFoundMessage == "email_address_found_message" %}
            {% set emailAddressFoundMessage = i18n[emailAddressFoundMessage] %}
            {% set panelError = "panel-blue" %}
        {% endif %}
        <div class="panel {{panelError}}">
            <div class="govuk-panel__body custom-panel">
                {% if emailAddressFoundMessage == "validation_email_address_invalid" %}
                    <p class="govuk-body">{{i18n[emailAddressFoundMessage]}}</p>
                {% else %}
                    <p class="govuk-body"><strong>{{ emailAddress }}</strong> {{emailAddressFoundMessage}}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if eventCancelledMessage %}
        <div class="panel panel-blue">
            <div class="govuk-panel__body custom-panel">
                <p class="govuk-body">This event on <strong>{{(event.dateRanges[0].date) | dateWithMonthAsText}}</strong> for <strong>{{course.title}}</strong> has been cancelled</p>
            </div>
        </div>
    {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l no-margin">{{event.venue.location | default("Location unset", true)}}, {{(event.dateRanges[0].date) | dateWithMonthAsText}}</h1>
    </div>
  </div>
     <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">This event is for the <strong>{{module.title | default("Module title", true)}}</strong> module on the <a href="/content-management/courses/{{course.id}}/overview" class="govuk-link">{{course.title}}</a> course</p>
          <div class="event-overview">
            <h3 class="govuk-heading-m">Event overview</h3>

            {% set dateList = [] %}
              {% for dateRange in event.dateRanges %}
                {% set eventDate = dateList.push('<p class="govuk-body no-margin">'+(dateRange.date | dateWithMonthAsText)+'</p>') %}
              {% endfor %}
              {% set list = dateList|join %}

              {{ govukTable({
                firstCellIsHeader: true,
                classes: "course-table event-table",
                rows: [
                  [
                    {
                      text: "Number of spaces"
                    },
                    {
                      text: event.venue.availability + " of " + event.venue.capacity + " available",
                      format: "numeric"
                    }
                  ],
                  [
                      {
                        text: "Minimum capacity"
                      },
                      {
                        text: event.venue.minCapacity,
                        format: "numeric"
                      }
                  ],
                  [
                      {
                        text: "Event dates",
                        classes: "vertical"
                      },
                      {
                        html: list,
                        format: "numeric"
                      }
                  ],
                  [
                    {
                      text: "Town/city"
                    },
                    {
                      text: event.venue.location,
                      format: "numeric"
                    }
                  ],
                  [
                    {
                      text: "Venue address"
                    },
                    {
                      text: event.venue.address,
                      format: "numeric"
                    }
                  ]
                ]
              }) }}
            </div>
            {% if event.status == "Active" %}
                <div class="add-invitee">
                    <h3 class="govuk-heading-m">Invite learners</h3>
                    <form action="/content-management/courses/{{course.id}}/modules/{{module.id}}/events/{{event.id}}/invite" method="post" class="attendee-form">
                        <input type="hidden" name="_csrf" value="{{_csrf}}" />
                        <p class="govuk-body no-margin"><strong>Email address of invitee</strong></p>
                        <div class="input-with-button invitee">
                            {% if errors.fields %}
                                {{ govukInput({
                                    id: "learnerEmail",
                                    name: "learnerEmail",
                                    errorMessage: {
                                        text: i18n[errors.fields.emailAddress]
                                    }
                                }) }}
                                {{ govukButton({
                                    text: "Invite",
                                    classes: "button-blue"
                                }) }}
                            {% else %}
                                {{ govukInput({
                                    id: "learnerEmail",
                                    name: "learnerEmail"
                                }) }}
                                {{ govukButton({
                                    text: "Invite",
                                    classes: "button-blue"
                                }) }}
                            {% endif %}
                        </div>
                    </form>
                </div>
            {% endif %}
            <div class="course-attendees">
              <h3 class="govuk-heading-m">Event attendees</h3>
              {% if bookings.length > 0 %}
                <ul class="attendees headers">
                  <li class="list-headers"><p class="govuk-body header title"><strong>Email Address</strong></p><p class="govuk-body header payment"><strong>Payment</strong></p><span class="button-header"></span></li>
                </ul>
                <ul class="attendees list">
                    {% for booking in bookings %}
                        {% if booking.status === "Requested" %}
                            {% set payment = i18n.attendee.status.Requested %}
                        {% elif booking.status === "Confirmed" %}
                            {% set payment = i18n.attendee.status.Confirmed %}
                        {% endif %}
                        <li class="list-details"><p class="govuk-body title">{{ booking.learnerEmail}}</p><p class="govuk-body payment">{{ payment }}</p><p class="buttons govuk-body"><a class="govuk-link" href="/content-management/courses/{{course.id}}/modules/{{module.id}}/events/{{event.id}}/attendee/{{booking.id}}">View</a></p></li>
                    {% endfor %}
                </ul>
              {% else %}
                <p class="govuk-body">This event doesn't have any attendees yet.</p>
              {% endif %}

            </div>
            {% if invitees.length > 0 %}
            <div class="course-invitees">
                <h3 class="govuk-heading-m">Event invitees</h3>
                <ul class="attendees headers">
                    <li class="list-headers"><p class="govuk-body header title"><strong>Email address</strong></p></li>
                </ul>
                <ul class="attendees list">
                    {% for invitee in invitees %}
                    <li class="list-details"><p class="govuk-body title">{{ invitee.learnerEmail}}</p></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-third">
          {% if course.status !== "Archived" %}
            <div class="right-menu">
              {% block statusWithLabel %}
                {{ statusWithLabel(event.status) }}
              {% endblock %}
              {% if event.status == "Cancelled" %}
                {% block cancellationReason %}
                    {{ cancellationReason("This event has been cancelled because " + i18n[event.cancellationReason]) }}
                {% endblock %}
              {% else %}
                {% block menu %}
                    {% set actions = [
                        {
                            link: '/content-management/courses/' + course.id + '/modules/' + module.id + '/events/' + event.id + '/dateRanges/',
                            text: 'Edit time and date'
                        },
                        {
                            link: '/content-management/courses/' + course.id + '/modules/' + module.id + '/events/' + event.id + '/location/',
                            text: 'Edit location and capacity'
                        },
                        {
                            link: '/content-management/courses/' + course.id + '/modules/' + module.id + '/events/' + event.id + '/cancel',
                            text: 'Cancel this event'
                        }
                    ]
                    %}
                    {{ menu("Actions", actions) }}
                {% endblock %}
              {% endif %}
            </div>
          {% endif %}
        </div>
     </div>
  </div>
{% endblock %}
