{% extends "../../../../component/Page.njk" %}

{% block pageTitle %}{{ i18n['event_add_title'] }} - {{ i18n['proposition_name'] }}{% endblock %}

{% block beforeContent %}
  {% block phaseBanner %}
    {{ phaseBanner("beta") }}
  {% endblock%}
  {% block backLink %}
        {{ backLink("/content-management/courses/" + course.id + "/overview") }}
  {% endblock%}
{% endblock %}

{% block content %}
    {% set errors = sessionFlash.errors %}
    {% set event = sessionFlash.event %}
    
    {{ errorSummary(errors.fields) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body form-header govuk-!-font-size-24">Add a new event</p>
            <h2 class="govuk-heading-m govuk-!-font-size-36">Event date and time</h2>
            <p class="govuk-body">This event is for the <strong>{{ module.title }}</strong> module on the <strong>{{ course.title }}</strong> course.</p>

            <div class="event-container">
                <ul class="event-list headers">
                    <li class="events">
                        <p class="govuk-body event-header date">Date</p><p class="govuk-body event-header time">Start time</p><p class="govuk-body event-header time">End time</p><span class="spacer"></span> 
                    </li> 
                </ul>
                <ul class="event-list">
                    {% for date in event.dateRanges %}
                        <li class="events u--border--bgrey">
                            <p class="govuk-body event date">{{ date.date }}</p><p class="govuk-body event time">{{ date.startTime }}</p><p class="govuk-body event time">{{ date.endTime }}</p><p class="govuk-body event edit"><p class="govuk-body"><a href="#" class="govuk-link">Delete</a> <a href="#" class="govuk-link">Edit</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <a href="/content-management/courses/{{course.id}}/modules/{{module.id}}/events/{{event.id}}" class="govuk-button button-blue left-aligned">Add another date</a>
            <div class="button-container">
                <a href="/content-management/courses/{{course.id}}/modules/{{module.id}}/events-overview/{{event.id}}" class="govuk-button">Continue</a>
            </div>
            <a href="/content-management/courses/{{course.id}}/overview">Cancel</a>
        </div>
    </div>
{% endblock %}
