{% from "button/macro.njk" import govukButton %}
{% from "date-input/macro.njk" import govukDateInput %}
{% from "select/macro.njk" import govukSelect %}
{% from  "../../../../component/timeInputs/macro.njk" import timeInputs with context %}

{% extends "../../../../component/Page.njk" %}

{% block pageTitle %}{{ i18n['event_add_title'] }} - {{ i18n['proposition_name'] }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + courseId + "/overview" %}

{% block content %}

    {% set errors = sessionFlash.errors %}
    {{ errorSummary(errors.fields) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body form-header govuk-!-font-size-24">Add a new event</p>
            <h2 class="govuk-heading-m govuk-!-font-size-36">Event date and time</h2>
            <p class="govuk-body">This event is for the <strong>{{ module.title }}</strong> module on the <strong>{{ course.title }}</strong> course.</p>

            {% if event.dateRanges and event.dateRanges.length > 0 %}
                <div class="event-container">
                    <ul class="event-list headers">
                        <li class="events">
                            <p class="govuk-body event-header date">Date</p><p class="govuk-body event-header time">Start time</p><p class="govuk-body event-header time">End time</p><span class="spacer"></span>
                        </li>
                    </ul>
                    <ul class="event-list">
                        {% for dateRange in event.dateRanges %}
                            <li class="events u--border--bgrey">
                                <p class="govuk-body event date">{{ dateRange.date }}</p><p class="govuk-body event time">{{ dateRange.startTime }}</p><p class="govuk-body event time">{{ dateRange.endTime }}</p><p class="govuk-body event edit">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <form action="/content-management/courses/{{courseId}}/modules/{{moduleId}}/events/{{event.id}}" method="post">
                <input type="hidden" name="eventJson" value="{{eventJson}}" />
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                {% if errors.fields.minDate or errors.fields.dateRanges or errors.fields.invalidDate %}
                    {{ govukDateInput({
                        id: "start-date",
                        name: "start-date",
                        fieldset: {
                            legend: {
                            text: "Start date",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--s"
                            }

                        },
                        hint: {
                            text: "For example, 31 3 " + exampleYear
                        },
                        errorMessage: {
                            text: "A valid start date is required"
                        },
                        items: [
                            {
                            name: "day",
                            classes: "govuk-input--width-3"
                            },
                            {
                            name: "month",
                            classes: "govuk-input--width-3"
                            },
                            {
                            name: "year",
                            classes: "govuk-input--width-5"
                            }
                        ]
                        }) }}
                    {% else %}
                     {{ govukDateInput({
                        id: "start-date",
                        name: "start-date",
                        fieldset: {
                            legend: {
                            text: "Start date",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--s"
                            }
                        },
                        hint: {
                            text: "For example, 31 3 " + exampleYear
                        },
                        items: [
                            {attributes: {
                                "maxLength": "2"
                            },
                            name: "day",
                            classes: "govuk-input--width-3"
                            },
                            {
                            name: "month",
                            classes: "govuk-input--width-3"
                            },
                            {
                            name: "year",
                            classes: "govuk-input--width-5"
                            }
                        ]
                        }) }}
                    {% endif %}

                {% set setHours = ["06","07","08","09","10","11","12","13","14","15","16","17","18","19","20"] %}
                {% set setMinutes = ["00", "15", "30", "45"] %}
                {{ timeInputs("Start time", setHours, setMinutes , "startTime", "Hours", "Minutes") }}
                {{ timeInputs("End time", setHours, setMinutes , "endTime", "Hours", "Minutes") }}

                {{ govukButton({
                    text: "Add this date",
                    classes: "button-blue left-aligned"
                }) }}
            </form>

            {% if event.dateRanges and event.dateRanges.length > 0 %}
            <form action="/content-management/courses/{{courseId}}/modules/{{moduleId}}/events/location/create" method="post">
                <input type="hidden" name="eventJson" value="{{eventJson}}" />
                 <input type="hidden" name="_csrf" value="{{_csrf}}" />
                <div class="button-container">
                    {{ govukButton({
                    text: "Continue",
                    classes: "govuk-button"
                    }) }}
                </div>
            </form>
            {% endif %}
            <a href="/content-management/courses/{{courseId}}/overview">Cancel</a>
        </div>
    </div>
{% endblock %}