{% if course.audiences.length > 0 %}
    <ul class="list">
        {% for audience in course.audiences %}
            <li class="module-item list-item u--border--bgrey">
                <div class="title-container">
                    <p class="govuk-body no-margin">{{ audience.name | default("Audience", true) }}</p>
                    <a class="govuk-body govuk-link" href="/content-management/courses/{{  course.id }}/audiences/{{ audience.id }}/configure">Edit</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="govuk-body">This course has no audiences yet.</p>
{% endif %}
