{% from "details/macro.njk" import govukDetails %}
{% if course.audiences.length > 0 %}
    <ul class="audience-list">
        {% for audience in course.audiences %}
    
            {% set grades = [] %}
            {% for grade in course.audiences.grades %}
                {% set gradeItem = grades.push(
                    grade.name
                ) %}
            {% endfor %}

            {% set interests = [] %}
            {% for interest in course.audiences.interests %}
                {% set interestItem = interests.push(
                    interest.name
                ) %}
            {% endfor %}

            <li class="list-item">
                <div class="title-container">
                    <h3 class="govuk-heading-m">{{ audience.name | default("Audience", true) }}</h3>
                    <a class="govuk-body govuk-link" href="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/configure">Edit</a>
                </div>
                {% set audienceHTML = '<ul class="list audience">
                    <li class="audience-item u--border--bgrey"><span class="audience-header">Course type</span><span>'+(audience.type | default("Unspecified", true))+'</span></li>
                    <li class="audience-item u--border--bgrey"><span class="audience-header">Organisations</span><span>'+(audience.departments | jsonpath(departmentCodeToName) | join(', ') | default("Unspecified", true))+'</span></li>
                    <li class="audience-item u--border--bgrey"><span class="audience-header">Grades</span><span>'+(grades | default("Unspecified", true))+'</span></li>
                    <li class="audience-item u--border--bgrey"><span class="audience-header">Area of work</span><span>'+(audience.areasOFWork | default("Unspecified", true))+'</span></li>
                    <li class="audience-item u--border--bgrey"><span class="audience-header">Interests</span><span>'+(interests | default("Unspecified", true))+'</span></li>
                </ul>'
                %}
                {{ govukDetails({
                    summaryText: 'View audience details',
                    html: audienceHTML
                }) }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p class="govuk-body">This course has no audiences yet.</p>
{% endif %}
