{% from "select/macro.njk" import govukSelect %}
{% from "button/macro.njk" import govukButton %}

{% extends "../../../component/Page.njk" %}

{% block pageTitle %}{{ i18n['module_add_title'] }} - {{ i18n['proposition_name'] }}{% endblock %}

{% set banner = true %}

{% block content %}

    <a href="/Course-management/courses/{{course.id}}/overview" class="govuk-body return-to-course">Course overview</a>

    {% set errors = sessionFlash.errors %}
    {{ errorSummary(errors.fields) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full module-container">
            <p class="govuk-body form-header govuk-!-font-size-24">Edit course modules</p>
            <h2 class="govuk-heading-m govuk-!-font-size-36 page-title">Course modules</h2>
            {% set modules = course.modules %}

                {% if modules.length > 0 %}
                    <p class="govuk-body">Sort the modules into the order they should appear in on the course details page</p>
                {% endif %}
                <h3 class="govuk-heading-m">Added modules</h3>

                {% if modules.length > 0 %}

                    <ul class="list modules">
                        <li class="module-headers">
                            <p class="govuk-body header title"><strong>Module title</strong></p>
                            <p class="govuk-body header type"><strong>Type</strong></p>
                            <p class="govuk-body header buttons"></p>
                            <p class="govuk-body header buttons"></p>
                            <span class="spacer"></span>
                        </li>
                    </ul>
                    <ul class="list modules" id="modules">
                        {% for module in modules %}
                            {% set counter = ( counter | default(0) ) + 1 %}
                            <li class="list-details u--border--bgrey draggable" id="{{ module.id }}" data-id={{counter}}>
                                <p class="govuk-body title">{{ module.title | default("Module", true) }}</p>
                                <p class="govuk-body type">{{ i18n.courseType[module.type] | default("Unknown Type", true) }}</p>
                                {% if module.subtype %}
                                    <p class="govuk-body buttons"><a class="govuk-link" href="/content-management/courses/{{ course.id }}/module-{{module.subtype}}/{{ module.id }}">Edit</a></p>
                                {% else %}
                                    <p class="govuk-body buttons"><a class="govuk-link" href="/content-management/courses/{{ course.id }}/module-{{module.type}}/{{ module.id }}">Edit</a></p>
                                {% endif %}
                                <p class="govuk-body buttons"><a class="govuk-link" href="/content-management/courses/{{ course.id }}/{{ module.id }}/delete">Delete</a></p>
                                <span class="handle"></span>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="govuk-body">This course does not have any modules yet</p>
                {% endif %}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="added-modules govuk-!-padding-bottom-5 govuk-!-padding-top-5">
                    <form action="/content-management/courses/{{course.id}}/add-module" method="post" class="module-form">
                        <h3 class="govuk-heading-m">Add a module</h3>
                        <p class="govuk-body">Choose the type of learning you wish to add to the course</p>
                        <fieldset class="govuk-fieldset module-selector">
                            {{ govukSelect({
                                id: "modules",
                                name: "module",
                                classes: "govuk-!-width-one-half govuk-!-margin-bottom-6",
                                label: {
                                    text: "Add a new module"
                                },
                                items: [
                                    {
                                    value: "",
                                    text: "Type of learning",
                                    selected: true
                                    },
                                    {
                                    value: "elearning",
                                    text: "E-learning"
                                    },
                                    {
                                    value: "link",
                                    text: "Link"
                                    },
                                    {
                                    value: "face-to-face",
                                    text: "Face-to-face"
                                    },
                                    {
                                    value: "file",
                                    text: "File (PDF, Word, Excel, PowerPoint)"
                                    },
                                    {
                                    value: "mp4",
                                    text: "Video (MP4)"
                                    },
                                    {
                                    value: "youtube",
                                    text: "Video (YouTube)"
                                    }
                            ]
                            }) }}
                            {{ govukButton({
                                text: "Add item",
                                classes: "button-blue"
                            }) }}
                        </fieldset>
                    </form>
                <div class="button-container">
                    <a class="govuk-button" href="/content-management/courses/{{course.id}}/preview">Course overview</a>
                </div>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
    <script src="/govuk-frontend/all.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script src="/sortablejs/Sortable.js"></script>
    <script src="/js/reorderModules.js" courseid="{{course.id}}"></script>
{% endblock %}

