{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% extends "../../../component/Page.njk" %}

{% block pageTitle %}

{% if module.id %}
    {{ i18n.module.title.face_to_face_edit }}
{% else %}
    {{ i18n.module.title.face_to_face_add }}
{% endif %}
     - {{ i18n['proposition_name'] }}

{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + course.id + "/overview" %}

{% block content %}
    {% set errors = sessionFlash.errors %}
    {% set module = sessionFlash.module %}

    {{ errorSummary(errors.fields) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if module.id %}
            <p class="govuk-body form-header govuk-!-font-size-24">Edit a course</p>
            <h2 class="govuk-heading-m govuk-!-font-size-36">Course module details</h2>
            <p class="govuk-body no-margin">You are editing a <strong>face-to-face</strong> module</p>
            {% else %}
            <p class="govuk-body form-header govuk-!-font-size-24">Add a new course</p>
            <h2 class="govuk-heading-m govuk-!-font-size-36">Course module details</h2>
            <p class="govuk-body no-margin">You are adding a <strong>face-to-face</strong> module</p>
            {% endif %}

            <form action="/content-management/courses/{{ course.id }}/module-face-to-face/{{ module.id }}" method="post" class="module-form">
                <input name="type" type="hidden" value="face-to-face">
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                <fieldset class="govuk-fieldset">
                    {% if errors.fields.title %}
                        {{ govukInput({
                            label: {
                                text: "Module title"
                            },
                            id: "title",
                            name: "title",
                            errorMessage: {
                                text: "Module title is required"
                            }
                        }) }}
                    {% else %}
                        {{ govukInput({
                            label: {
                                text: "Module title"
                            },
                            id: "title",
                            name: "title",
                            value: module.title
                        }) }}
                    {% endif %}

                    {% if errors.fields.description %}
                        {{ govukTextarea({
                            name: "description",
                            id: "description",
                            label: {
                                text: "Description"
                            },
                            errorMessage: {
                                text: "Description is required"
                            }
                        }) }}
                    {% else %}
                        {{ govukTextarea({
                            name: "description",
                            id: "description",
                            value: module.description,
                            label: {
                                text: "Description"
                            }
                        }) }}
                    {% endif %}
                </fieldset>

                {% if errors.fields.cost %}
                    {{ govukInput({
                        classes: "govuk-input--width-10",
                        label: {
                            text: i18n.module.text.cost
                        },
                        id: "cost",
                        name: "cost",
                        value: module.cost,
                        errorMessage: {
                            text: i18n.module.validation.cost.positive
                        }
                    }) }}
                {% else %}
                    {{ govukInput({
                        classes: "govuk-input--width-10",
                        label: {
                            text: i18n.module.text.cost
                        },
                        id: "cost",
                        name: "cost",
                        value: module.cost
                    }) }}
                {% endif %}

                {{ govukCheckboxes({
                    idPrefix: "optional",
                    name: "optional",
                    classes: "font-light",
                    fieldset: {
                        legend: {
                            text: "Is this an optional module?",
                            isPageHeading: true,
                            classes: "font-bold"
                        }
                    },
                    items: [
                        {
                            value: "true",
                            text: "Yes, this is optional"
                        }
                    ]
                }) }}
                <div class="button-container">
                    {{ govukButton({
                        text: "Edit item" if module.id else "Add item",
                        type: "submit"
                    }) }}
                </div>
            </form>

            <a class="cancel-button govuk-body govuk-link" href="/content-management/courses/{{course.id}}/overview">Cancel</a>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}