{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% extends "../../../component/Page.njk" %}

{% block pageTitle %}{{ i18n['module_link_add_title'] }} - {{ i18n['proposition_name'] }}{% endblock %}

{% block beforeContent %}
  {% block phaseBanner %}
    {{ phaseBanner("beta") }}
  {% endblock%}
  {% block backLink %}
    {{ backLink("/content-management") }}
  {% endblock%}
{% endblock %}

{% block content %}

    {% set errors = sessionFlash.errors %}

    {{ errorSummary(errors.fields) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body form-header govuk-!-font-size-24">Add a new course</p>
            <h2 class="govuk-heading-m govuk-!-font-size-36">Course module details</h2>
            <p class="govuk-body">You are adding a <strong>link</strong> module</p>

            <form action="/content-management/courses/{{ course.id }}/module-link" method="post">
                <fieldset class="govuk-fieldset">
                    {{ govukInput({
                    label: {
                        text: "Module title"
                    },
                    id: "moduleTitle",
                    name: "moduleTitle"
                    }) }}

                    {{ govukTextarea({
                    name: "description",
                    id: "description",
                    label: {
                        text: "Description"
                    }
                    }) }}

                    {{ govukInput({
                    label: {
                        text: "URL"
                    },
                    id: "url",
                    name: "url"
                    }) }}

                    <p class="govuk-body govuk-!-margin-bottom-1 font-bold">Reading duration</p>
                    <div class="time-inputs">
   
                        {{ govukInput({
                            type: "number",
                            label: {
                                text: "Hours"
                            },
                             attributes: {
                                  maxlength: "3"
                            },
                            id: "hours",
                            name: "hours",
                            classes: "govuk-date-input__input govuk-input--width-3 font-light"
                        }) }}
                        {{ govukInput({
                            type: "number",
                            label: {
                                text: "Minutes"
                            },
                            attributes: {
                                maxlength: "2"
                            },
                            id: "minutes",
                            name: "miniutes",
                            classes: "govuk-date-input__input govuk-input--width-3"
                        }) }}
                    </div>
                </fieldset>
                    {{ govukCheckboxes({
                        idPrefix: "optional",
                        name: "optional",
                        classes: "font-light",
                        fieldset: {
                            legend: {
                                text: "Is this an optional module?",
                                isPageHeading: true,
                                classes: "font-bold"
                            }
                        },
                        items: [
                        {
                            value: "isOptional",
                            text: "Yes, this is optional"
                        }
                    ]
                    }) }}

                {{ govukButton({
                text: "Add item",
                classes: "button-blue"
                }) }}
            </form>

            <a class="cancel-button govuk-body govuk-link" href="/content-management">Cancel</a>        
        </div>

        <div class="govuk-grid-column-one-third">
       
        </div>
    </div>
{% endblock %}