{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% extends "../../../component/Page.njk" %}

{% block pageTitle %}{{ i18n['module_face_to_face_add'] }} - {{ i18n['proposition_name'] }}{% endblock %}

{% block beforeContent %}
  {% block phaseBanner %}
    {{ phaseBanner("beta") }}
  {% endblock%}
  {% block backLink %}
    {{ backLink("/content-management/courses/"+course.id+"/overview") }}
  {% endblock%}
{% endblock %}

{% block content %}

    {% set errors = sessionFlash.errors %}
    {% set module = sessionFlash.module %}

    {{ errorSummary(errors.fields) }}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body form-header govuk-!-font-size-24">Add a new course</p>
            <h2 class="govuk-heading-m govuk-!-font-size-36">Course module details</h2>
            <p class="govuk-body">You are adding a <strong>face-to-face</strong> module</p>

            <form action="/content-management/courses/{{ course.id }}/module-face-to-face" method="post">
                <input name="type" type="hidden" value="face-to-face">
                <fieldset class="govuk-fieldset">
                    {% if errors.fields.title %}
                        {{ govukInput({
                        label: {
                            text: "Module title"
                        },
                        id: "title",
                        name: "title",
                        errorMessage: {
                            text: "Module title is required"
                        }
                        }) }}
                    {% else %}
                        {{ govukInput({
                            label: {
                                text: "Module title"
                            },
                            id: "title",
                            name: "title",
                            value: module.title
                        }) }}
                    {% endif %}

                    {% if errors.fields.description %}
                    {{ govukTextarea({
                        name: "description",
                        id: "description",
                        label: {
                            text: "Description"
                        },
                        errorMessage: {
                            text: "Description is required"
                        }
                        }) }}
                    {% else %}
                        {{ govukTextarea({
                        name: "description",
                        id: "description",
                        value: module.description,
                        label: {
                            text: "Description"
                        }
                        }) }}
                    {% endif %}
                </fieldset>
                
                {{ govukCheckboxes({
                    idPrefix: "optional",
                    name: "optional",
                    classes: "font-light",
                    fieldset: {
                        legend: {
                            text: "Is this an optional module?",
                            isPageHeading: true,
                            classes: "font-bold"
                        }
                    },
                    items: [
                    {
                        value: "optional",
                        text: "Yes, this is optional"
                    }
                ]
                }) }}

                {{ govukButton({
                text: "Continue"
                }) }}
            </form>

            <a class="cancel-button govuk-body govuk-link" href="/content-management/courses/{{course.id}}/overview">Cancel</a>        
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}