{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% extends "../../../component/Page.njk" %}

{% block pageTitle %}{{ i18n['module_youtube_add_title'] }} - {{ i18n['proposition_name'] }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management" %}

{% block content %}

    {% set errors = sessionFlash.errors %}
    {{ errorSummary(errors.fields) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body form-header govuk-!-font-size-24">Add a new course</p>
            <h2 class="govuk-heading-m govuk-!-font-size-36">Course module details</h2>
            <p class="govuk-body no-margin">You are adding a <strong>YouTube Video</strong> module</p>

            {% set module = sessionFlash.module %}

            <form action="/content-management/courses/{{course.id}}/module-video" method="post" class="module-form">
                <input name="type" type="hidden" value="video">
                <fieldset class="govuk-fieldset">
                    {% if errors.fields.title %}
                        {{ govukInput({
                        label: {
                        text: "Module title"
                        },
                        id: "title",
                        name: "title",
                        value: module.title,
                        errorMessage: {
                            text: "Title is required"
                        }
                        }) }}
                    {% else %}
                        {{ govukInput({
                        label: {
                        text: "Module title"
                        },
                        id: "title",
                        name: "title",
                        value: module.title
                        }) }}
                    {% endif %}

                    {{ govukTextarea({
                    name: "description",
                    id: "description",
                    label: {
                    text: "Description"
                    },
                    value: module.description
                    }) }}

                    {% if errors.fields.url %}
                        {{ govukInput({
                        label: {
                        text: "URL"
                        },
                        id: "url",
                        name: "url",
                        value: module.url,
                        errorMessage: {
                            text: "URL is required"
                        }
                        }) }}
                    {% else %}
                        {{ govukInput({
                        label: {
                        text: "URL"
                        },
                        id: "url",
                        name: "url",
                        value: module.url
                        }) }}
                    {% endif %}

                </fieldset>
                {{ govukCheckboxes({
                idPrefix: "isOptional",
                name: "isOptional",
                classes: "font-light",
                fieldset: {
                legend: {
                text: "Is this an optional module?",
                isPageHeading: true,
                classes: "font-bold"
                }
                },
                items: [
                {
                value: true,
                text: "Yes, this is optional"
                }
                ]
                })
                }}
                <div class="button-container">
                    {{ govukButton({
                    text: "Continue",
                    type: "submit"
                    }) }}
                </div>
            </form>
            <a class="cancel-button govuk-body govuk-link" href="/content-management">Cancel</a>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}