{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}
{% from "file-upload/macro.njk" import govukFileUpload %}
{% from "warning-text/macro.njk" import govukWarningText %}

{% extends "../../../component/Page.njk" %}

{% block pageTitle %}

{% if module.id %}
{{ i18n.module.title.edit }}
{% else %}
{{ i18n.module.title.add }}
{% endif %}

{% if type === 'file' %}
    {{ i18n.module.title.file }}
{% elif type === 'video' %}
    {{ i18n.module.title.video }}
{% else %}
    {{ i18n.module.title.eLearning }}
{% endif %}
     module - {{ i18n['proposition_name'] }}

{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + course.id + "/add-module" %}

{% block content %}

    {% set errors = sessionFlash.errors%}
    {% set media = sessionFlash.media %}
    {% set module = sessionFlash.module %}

    {% if errors.fields.mediaId %}
        {% set chooseFileButtonClass = "govuk-form-group govuk-form-group--error" %}
        {% set chooseFileButtonMessage = "File is required" %}
    {% else %}
        {% set chooseFileButtonClass = "govuk-form-group" %}
    {% endif %}

    {{ errorSummary(errors.fields) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body form-header govuk-!-font-size-24">Add a new course</p>
            <h2 class="govuk-heading-m govuk-!-font-size-36">Course module details</h2>
            <p class="govuk-body no-margin">You are {% if module.id %} editing {% else %}adding{% endif %}
                {% if type === "file" %}
                    a
                {% else %}
                    an
                {% endif %}
            <strong>{{type}}</strong> module</p>
            <input id="accessToken" type="hidden" value="{{identity.accessToken}}">
            <input id="courseCatalogueUrl" type="hidden" value="{{courseCatalogueUrl}}">

            <form id="detailsForm" action="/content-management/courses/{{course.id}}/module-file/{{ module.id }}" method="post" class="module-form">
                <input id="courseId" name="courseId" type="hidden" value="{{course.id}}">
                <input id="mediaId" name="mediaId" type="hidden" value="{{media.id}}">
                <input id="fileType" name="fileType" type="hidden" value="{{type}}">
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                <fieldset class="govuk-fieldset">
                    {% if errors.fields.title %}
                        {{ govukInput({
                            label: {
                                text: i18n.module.text.title
                            },
                            id: "title",
                            name: "title",
                            errorMessage: {
                                text: i18n.module.validation.title.empty
                            }
                        }) }}
                    {% else %}
                        {{ govukInput({
                            label: {
                                text: i18n.module.text.title
                            },
                            id: "title",
                            name: "title",
                            value: form.title|default(module.title)
                        }) }}
                    {% endif %}

                    {% if errors.fields.description %}
                        {{ govukTextarea({
                            name: "description",
                            id: "description",
                            label: {
                                text: i18n.module.text.description
                            },
                            errorMessage: {
                                text: i18n.module.validation.description.empty
                            }
                        }) }}
                    {% else %}
                        {{ govukTextarea({
                            name: "description",
                            id: "description",
                            value: module.description,
                            label: {
                                text: i18n.module.text.description
                            }
                        }) }}
                    {% endif %}

                    {% if errors.fields.duration %}
                    {% set classes = "errors" %}
                    {% else %}
                    {% set classes = "error-container" %}
                    {% endif %}
                    <div class={{classes}}>
                        <p class="govuk-body govuk-!-margin-bottom-1 font-bold">Duration</p>
                        {% if errors.fields.duration %}
                        <p class="govuk-body error-message no-margin"><strong>{{i18n.module.validation.duration.empty}}</strong></p>
                        {% endif %}
                        <div class="time-inputs">
                            {% if errors.fields.duration %}
                                {{ govukInput({
                                    type: "number",
                                    label: {
                                        text: "Hours"
                                    },
                                    attributes: {
                                        maxlength: "3"
                                    },
                                    id: "hours",
                                    name: "hours",
                                    value: form.hours|default(module.hours),
                                    classes: "govuk-date-input__input govuk-input--width-3 font-light"
                                }) }}
                                {{ govukInput({
                                    type: "number",
                                    label: {
                                        text: "Minutes"
                                    },
                                    attributes: {
                                        maxlength: "2"
                                    },
                                    id: "minutes",
                                    value: form.hours|default(module.minutes),
                                    name: "minutes",
                                    classes: "govuk-date-input__input govuk-input--width-3"
                                }) }}
                            {% else %}
                                {{ govukInput({
                                    type: "number",
                                    label: {
                                        text: "Hours"
                                    },
                                    attributes: {
                                        maxlength: "3"
                                    },
                                    id: "hours",
                                    name: "hours",
                                    value: form.hours|default(module.hours),
                                    classes: "govuk-date-input__input govuk-input--width-3 font-light"
                                }) }}

                                {{ govukInput({
                                    type: "number",
                                    label: {
                                        text: "Minutes"
                                    },
                                    attributes: {
                                        maxlength: "2"
                                    },
                                    id: "minutes",
                                    value: form.hours|default(module.minutes),
                                    name: "minutes",
                                    classes: "govuk-date-input__input govuk-input--width-3"
                                }) }}
                            {% endif %}
                        </div>
                    </div>
                </fieldset>

                <div class="{{chooseFileButtonClass}}">
                    <fieldset class="govuk-fieldset">
                        <div class="add-file-form govuk-form-group">
                            {% if type === 'file' %}
                                {% set fileTypes = 'PDF, Powerpoint, Excel, Word' %}
                            {% elif  type === 'video'%}
                                {% set fileTypes = 'MP4' %}
                            {% else %}
                                {% set fileTypes = 'E-learning (.zip)' %}
                            {% endif %}
                            <label class="govuk-label">File</label>
                            <span id="file-upload-hint" class="govuk-hint">You can upload the following file types: {{fileTypes}}</span>
                            <span id="file-upload-error" class="govuk-error-message">{{chooseFileButtonMessage}}</span>
                            <input class="govuk-file-upload custom-uploader" id="file-upload" name="file" type="file" aria-describedby="file-upload-hint">
                            {% if media %}
                            <label class="btn" for="file-upload"><span>{{media.name}}</span></label>
                            {% else %}
                            <label class="btn" for="file-upload"><span>Choose file</span></label>
                            {% endif %}
                        </div>
                    </fieldset>
                </div>

                <p id="file-size"></p>
                <p id="progress"></p>

                <div id="file-size-warning" class="govuk-warning-text hidden">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        This is a large file and may take some time to upload
                    </strong>
                </div>

                {{ govukButton({
                attributes: {id: "uploadButton"},
                text: "Upload File",
                type: "input",
                classes: "button-blue left-aligned"
                }) }}

                {{ govukCheckboxes({
                idPrefix: "isOptional",
                name: "isOptional",
                classes: "font-light",
                fieldset: {
                legend: {
                text: "Is this an optional module?",
                isPageHeading: true,
                classes: "font-bold"
                }
                },
                items: [
                {
                value: "true",
                text: "Yes, this is optional"
                }
                ]
                }) }}
                <div class="button-container">
                    {{ govukButton({
                    text: "Edit item" if module.id else "Add item",
                    type: "submit",
                    attributes: {id: "submitButton"}
                    }) }}
                </div>
            </form>
            <a class="cancel-button govuk-body govuk-link" href="/content-management/courses/{{course.id}}/preview">Cancel</a>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
    <script src="/govuk-frontend/all.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script src="/js/upload-file.js"></script>
    <script src="/js/file-uploader.js"></script>
{% endblock %}