{% from "input/macro.njk" import govukInput %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% extends "../../../component/Page.njk" %}

{% block pageTitle %}
{% if module.id %}
{{ i18n.module.title.link_edit }} - {{ i18n.proposition_name }}
{% else %}
{{ i18n.module.title.link_add }} - {{ i18n.proposition_name }}
{% endif %}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + course.id + "/add-module" %}

{% block content %}

{% set errors = sessionFlash.errors %}

{{ errorSummary(errors.fields) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body form-header govuk-!-font-size-24">Edit a course</p>
        <h2 class="govuk-heading-m govuk-!-font-size-36">Course module details</h2>
        <p class="govuk-body no-margin">You are {% if module.id %} editing {% else %}adding{% endif %} a <strong>link</strong> module</p>

        <form action="/content-management/courses/{{ course.id }}/module-link/{{ module.id }}" method="post" class="module-form">
            <input type="hidden" name="_csrf" value="{{_csrf}}" />
            {% if module.id %}
            <input type="hidden" name="id" value="{{ form.id|default(module.id) }}">
            {% endif %}
            <input type="hidden" name="type" value="link">
            <p class="govuk-fieldset">
                {% if errors.fields.title %}
                    {{ govukInput({
                        label: {
                            text: i18n.module.text.title
                        },
                        id: "title",
                        name: "title",
                        value: form.title,
                        errorMessage: {
                            text: i18n.module.validation.title.empty
                        }
                    }) }}
                {% else %}
                    {{ govukInput({
                        label: {
                            text: i18n.module.text.title
                        },
                        id: "title",
                        name: "title",
                        value: form.title|default(module.title)
                    }) }}
                {% endif %}

                {% if errors.fields.description %}
                    {{ govukTextarea ({
                        label: {
                            text: i18n.module.text.description
                        },
                        id: "description",
                        name: "description",
                        value: form.description,
                        errorMessage: {
                            text: i18n.module.validation.description.empty
                        }
                    }) }}
                {% else %}
                    {{ govukTextarea({
                        name: "description",
                        id: "description",
                        label: {
                            text: i18n.module.text.description
                        },
                            value: form.description|default(module.description)
                        })
                    }}
                {% endif %}

                {% if errors.fields.url %}
                    {{ govukInput({
                        label: {
                            text: i18n.module.text.url
                        },
                        id: "url",
                        name: "url",
                        value: form.url,
                        errorMessage: {
                            text: i18n.module.validation.url.empty
                        }
                    }) }}
                {% else %}
                    {{ govukInput({
                    label: {
                        text: i18n.module.text.url
                    },
                    id: "url",
                    name: "url",
                    value: form.url|default(module.url)
                    }) }}
                {% endif %}

                {% if errors.fields.duration %}
                    {% set classes = "errors" %}
                {% else %}
                    {% set classes = "error-container" %}
                {% endif %}
                <div class={{classes}}>
                    <p class="govuk-body govuk-!-margin-bottom-1 font-bold">Reading duration</p>
                    {% if errors.fields.duration %}
                        <p class="govuk-body error-message no-margin"><strong>{{i18n.module.validation.duration.empty}}</strong></p>
                    {% endif %}
                    <div class="time-inputs">

                        {% if errors.fields.duration %}

                        {{ govukInput({
                            type: "number",
                            label: {
                                text: "Hours"
                            },
                            attributes: {
                                maxlength: "3"
                            },
                            id: "hours",
                            name: "hours",
                            value: form.hours|default(module.hours),
                            classes: "govuk-date-input__input govuk-input--width-3 font-light"
                        }) }}
                        {{ govukInput({
                            type: "number",
                            label: {
                                text: "Minutes"
                            },
                            attributes: {
                            maxlength: "2"
                            },
                            id: "minutes",
                            value: form.hours|default(module.minutes),
                            name: "minutes",
                            classes: "govuk-date-input__input govuk-input--width-3"
                        }) }}
                        {% else %}
                        {{ govukInput({
                            type: "number",
                            label: {
                                text: "Hours"
                            },
                            attributes: {
                                maxlength: "3"
                            },
                            id: "hours",
                            name: "hours",
                            value: form.hours|default(module.hours),
                            classes: "govuk-date-input__input govuk-input--width-3 font-light"
                        }) }}

                        {{ govukInput({
                            type: "number",
                            label: {
                                text: "Minutes"
                            },
                            attributes: {
                                maxlength: "2"
                            },
                            id: "minutes",
                            value: form.hours|default(module.minutes),
                            name: "minutes",
                            classes: "govuk-date-input__input govuk-input--width-3"
                        }) }}
                        {% endif %}
                    </div>
                </div>
            </fieldset>
            {{ govukCheckboxes({
                idPrefix: "optional",
                name: "optional",
                classes: "font-light",
                fieldset: {
                    legend: {
                        text: "Is this an optional module?",
                        isPageHeading: true,
                        classes: "font-bold"
                    }
                },
                items: [
                    {
                        value: "true",
                        text: "Yes, this is optional",
                        checked: true if module.optional
                    }
                ]
            }) }}

            {{ govukButton({
                text: "Edit item" if module.id else "Add item",
                type: "submit"
            }) }}
        </form>

        <a class="cancel-button govuk-body govuk-link" href="/content-management/courses/{{ course.id }}/add-module">Cancel</a>
    </div>

    <div class="govuk-grid-column-one-third">

    </div>
</div>
{% endblock %}