<div class="nav-wrapper">
    <input class="mobile-nav nav-button" type="checkbox" id="mobileNav" />
    <label class="mobile-nav nav-label" for="mobileNav">Menu</label>
    <div class="nav-container">
        <nav class="nav">
            <a class="nav-item govuk-link active" href="/content-management">Content management</a>
            {% if identity.isOrganisationManager() %}
                <a class="nav-item govuk-link" href="/reporting">My admin pages</a>
            {% endif %}
            <a class="nav-item govuk-link" href="{{ lpgUiUrl }}/sign-out">Sign out</a>
        </nav>
    </div>
</div>