<nav>
    <a href="/html/">HomeL</a>
    <a href="/css/">Suggestions for you</a>
    <a href="/js/">Learning record</a>
    <a href="/jquery/">Profile</a>
    <a href="/js/">Admin</a>
    <a href="/jquery/">Sign out</a>
</nav>
        {# navigation: [
            {
                href: lpgUiUrl + "/home",
                text: "Home",
                active: true
            },
            {
                href: lpgUiUrl + "/suggestions-for-you",
                text: "Suggestions for you"
            },
            {
                href: lpgUiUrl + "/learning-record",
                text: "Learning record"
            },
            {
                href: lpgUiUrl + "/profile",
                text: "Profile"
            },
            {
                href: "/content-management",
                text: "Admin"
            },
            {
                href: lpgUiUrl + "/sign-out",
                text: "Sign out"
            }
            ] #}