{% from "button/macro.njk" import govukButton %}

<div class="right-menu">
    <h4 class="menu-header">{{ boxTitle }}</h4>
    <a class="govuk-link govuk-body" href="#">Add a new course</a>

    {% if (delete === true} %}
        {{ govukButton({
            text: "Delete",
            "classes": "govuk-button--delete"
        }) }}
    {% endif %}
</div>