{% extends "../../component/Page.njk" %}

{% from "input/macro.njk" import govukInput with context%}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% from "../../component/list/macro.njk" import list %}
{% from "../../component/menu/macro.njk" import menu %}
{% from "../../component/statusWithLabel/macro.njk" import statusWithLabel with context %}
{% from "../../component/courseDetails/macro.njk" import courseDetails with context %}
{% from "../../component/courseEvents/macro.njk" import courseEvents with context %}
{% from "../../component/audiences/macro.njk" import audiences with context %}

{% block pageTitle %}{{ i18n.agencyToken.title.editAgencyToken if organisationalUnit.agencyToken else i18n.agencyToken.title.addAgencyToken }} - {{ i18n.proposition_name }}{% endblock %}

{% set backButton = "/content-management/organisations/" + organisationalUnit.id + "/overview" %}

{% block content %}

{% set banner = true %}
{% set form = sessionFlash.form %}
{% set errors = sessionFlash.errors %}
{{ errorSummary(errors.fields) }}

<div class="govuk-grid-row">    
    <div class="govuk-grid-column-full">
        <h1 class="govuk-body form-header govuk-!-font-size-24 no-margin">{{ organisationalUnit.name }}</h1>
        <h2 class="govuk-heading-m govuk-!-font-size-36">{{ i18n.agencyToken.title.editAgencyToken if organisationalUnit.agencyToken else i18n.agencyToken.title.addAgencyToken }}</h2>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h3 class="govuk-heading-s">List of permitted domains</h3>
        {% if domainsForAgencyToken.length > 0 %}
            <ul class="list modules" id="domains">
                {% for domain in domainsForAgencyToken %}
                    <li class="list-details list-domain">
                        <p class="govuk-body title">{{ domain }}</p>
                        <form action="/content-management/organisations/{{ organisationalUnit.id }}/agency-token/domain/delete" method="post">
                            <input class="hidden" name="domainToDelete" value="{{ domain }}">
                            <button class="govuk-link linkish-button" type="submit">Remove</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="govuk-body">No domains have been added yet</p>
        {% endif %}

        <form action="/content-management/organisations/{{ organisationalUnit.id }}/agency-token/domain" method="post">  
            <fieldset class="govuk-fieldset module-selector">

                {% if errors.fields.domains %}
                    {% if errors.fields.domains == 'agencyToken.validation.domains.invalid' %}
                        {{ govukInput ({
                            label: { text: "Add domain" },
                            classes: "govuk-input--width-10",
                            id: "domainToAdd",
                            name: "domainToAdd",
                            errorMessage: { text: i18n.agencyToken.validation.domains.invalid }
                        }) }}
                    {% elif errors.fields.domains == 'agencyToken.validation.domains.invalidFormat' %}
                        {{ govukInput ({
                            label: { text: "Add domain" },
                            classes: "govuk-input--width-10",
                            id: "domainToAdd",
                            name: "domainToAdd",
                            errorMessage: { text: i18n.agencyToken.validation.domains.invalidFormat }
                        }) }}
                    {% elif errors.fields.domains == 'agencyToken.validation.domains.empty' %}                    
                        {{ govukInput ({
                            label: { text: "Add domain" },
                            classes: "govuk-input--width-10",
                            id: "domainToAdd",
                            name: "domainToAdd",
                            errorMessage: { text: i18n.agencyToken.validation.domains.empty }
                        }) }}
                    {% endif %}
                {% else %}
                    {{ govukInput ({
                        label: { text: "Add domain" },
                        classes: "govuk-input--width-10",
                        id: "domainToAdd",
                        name: "domainToAdd"
                    }) }}
                {% endif %}

                {{ govukButton ({
                    text: "Add domain",
                    classes: "button-blue button-blue-organisations",
                    type: "submit"
                }) }}

            </fieldset>
        </form>

        <form action="/content-management/organisations/{{ organisationalUnit.id }}/agency-token" method="post">

            {% if errors.fields.capacity %}
                {{ govukInput ({
                    label: { text: i18n.agencyToken.text.numberOfSpaces },
                    classes: "govuk-input--width-10",
                    id: "capacity",
                    name: "capacity",
                    type: "number",
                    value: form.capacity | default(organisationalUnit.agencyToken.capacity),
                    errorMessage: { text: i18.agencyToken.validation.capacity.invalid }
                }) }}
            {% else %}
                {{ govukInput ({
                    label: { text: i18n.agencyToken.text.numberOfSpaces },
                    classes: "govuk-input--width-10",
                    id: "capacity",
                    name: "capacity",
                    type: "number",
                    value: form.capacity | default(organisationalUnit.agencyToken.capacity)
                }) }}
            {% endif %}

            {% if organisationalUnit.agencyToken %}
                <label class="govuk-label">Number of spaces currently in use</label>
                <p class="govuk-body">{{ organisationalUnit.agencyToken.capacityUsed | default('Unknown', true) }}</p>
            {% endif %}

            <label class="govuk-label">Token number</label>
            <p id="token-number-display-text" class="govuk-body">{{ agencyTokenNumber | default('Unspecified', true) }}</p>
            <input id="token-number-input" name='tokenNumber' value="{{ agencyTokenNumber | default('Unspecified', true) }}" type="hidden">
            <button class="govuk-link linkish-button" type="button" onclick="generateAndDisplayNewToken();">Re-generate token number</button><br/><br/>

            {{ govukButton ({
                text: "Update token" if organisationalUnit.agencyToken else "Add token"
            }) }}

        </form>

        {% if organisationalUnit.agencyToken %}
            <form action="/content-management/organisations/{{ organisationalUnit.id }}/agency-token/delete" method="get">
                <button id="delete-token-button" type="submit" class="govuk-button button-red">Delete token</button>
            </form>
        {% endif %}

        <a href="/content-management/organisations/{{organisationalUnit.id}}/overview" class="govuk-link">Cancel</a>
    </div>
</div>

{% endblock %}

{% block bodyEnd %}
    <script src="/govuk-frontend/all.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script type="text/javascript" src="/js/generate-token.js"></script>
{% endblock %}
