{% from "input/macro.njk" import govukInput with context%}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}
    {{ i18n.organisations.title.editAnOrganisation if organisationalUnit else i18n.organisations.title.addANewOrganisation }} - {{ i18n.proposition_name }}
{% endblock %}

{% set banner = true %}
{% if organisationalUnit %}
    {% set backButton = "/content-management/organisations/" + organisationalUnit.id + "/overview"%}
{% else %}
    {% set backButton = "/content-management/organisations/manage" %}
{% endif %}
{% block content %}
{% set errors = sessionFlash.errors %}
{% set form = sessionFlash.form %}

{{ errorSummary(errors.fields) }}
{% set form = sessionFlash.form %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">{{ i18n.organisations.title.editAnOrganisation if organisationalUnit else i18n.organisations.title.addANewOrganisation }}</h1>
        </div>
    </div>
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
              <form action="/content-management/organisations/{{ organisationalUnit.id }}" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                <div class="govuk-form-group">
                    <h2 class="govuk-heading-s no-margin">{{ i18n.organisations.text.parent }}</h2>
                    <p class="govuk-body custom-margin">If your new organisation has an existing parent, find them in the list below.</p>
                    <p for="organisationalUnit no-margin" class="govuk-body hint custom-margin">Start typing to find your organisation name</p>
                    <div class="autocomplete-wrapper">
                        <select name="parent" id="parent">
                            <option value=""></option>
                            {% set parent = form.parent|default(organisationalUnit.parent.uri) %}
                            {% for key in organisationalUnits %}
                                {% if parent === key.href %}
                                    {% set selected='selected' %}
                                {% else %}
                                    {% set selected='' %}
                                {% endif %}
                            <option value={{ key.href }} {{ selected }}>{{ key.formattedName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% if errors.fields.name %}
                    {{ govukInput({
                        label: {
                            text: i18n.organisations.text.name
                        },
                        id: "name",
                        name: "name",
                        errorMessage: {
                            text: i18n.organisations.validation.name.empty
                        }
                    }) }}
                {% else %}
                    {{ govukInput({
                        label: {
                            text: i18n.organisations.text.name
                        },
                        id: "name",
                        name: "name",
                        value: form.name|default(organisationalUnit.name)
                    }) }}
                {% endif %}
                {% if errors.fields.code %}
                    {{ govukInput({
                        label: {
                            text: i18n.organisations.text.code
                        },
                        classes: "govuk-input--width-10",
                        id: "code",
                        name: "code",
                        errorMessage: {
                            text: i18n.organisations.validation.code.empty
                        }
                    }) }}
                {% else %}
                    {{ govukInput({
                        label: {
                            text: i18n.organisations.text.code
                        },
                        classes: "govuk-input--width-10",
                        id: "code",
                        name: "code",
                        value: form.code|default(organisationalUnit.code)
                    }) }}
                {% endif %}
                {{ govukInput({
                    label: {
                        text: i18n.organisations.text.abbreviation
                    },
                    classes: "govuk-input--width-10",
                    id: "abbreviation",
                    name: "abbreviation",
                    value: form.abbreviation|default(organisationalUnit.abbreviation)
                }) }}
                <div class="button-container">
                    {{ govukButton({
                        text: "Update" if organisationalUnit.id else "Add a new organisation"
                    }) }}
                </div>
            </form>
            {% if organisationalUnit %}
                <a href="/content-management/organisations/{{organisationalUnit.id}}/overview" class="govuk-link">Cancel</a>
            {% else %}
                <a href="/content-management/organisations/manage" class="govuk-link">Cancel</a>
            {% endif %}
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
    <script src="/govuk-frontend/all.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script type="text/javascript" src="/js/accessible-autocomplete.min.js"></script>
    <script type="text/javascript" src="/js/manage-orgs.js"></script>
{% endblock %}