{% from "input/macro.njk" import govukInput with context%}
{% from "button/macro.njk" import govukButton %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}{{ i18n['learning_provider_add_title'] }} - {{ i18n['proposition_name'] }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/learning-providers" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Add a new organisation</h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% set errors = sessionFlash.errors %}

            {% if errors.fields %}
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% for field, message in errors.fields %}
                                <li><a href="#">{{ i18n[message] }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {%endif%}
              <form action="/content-management/add-organisation" method="post">
                {% if errors.fields %}
                    {% set classNames = "govuk-fieldset govuk-form-group--error" %}
                    {% set message = "govuk-error-message" %}
                {% else %}
                    {% set classNames = "govuk-fieldset" %}
                    {% set message = "no-errors" %}
                {% endif %}

                <div class="{{classNames}}">
                    <p class="{{message}}">Select which organisations are included</p>
                  
                        <div class="typeahead-container govuk-form-group">
                            <label class="govuk-body no-margin" for="autocomplete"><strong>Parent organisation</strong></label>
                            <p class="govuk-body no-margin">If your new organisation has an existing parent, find them in the list below.</p>
                            <p class="govuk-hint no-margin govuk-body">Start typing to find your organisation name</p>
                            <div id="autocomplete-container"></div>
                        </div>
               
                </div>
                {{ govukInput({
                    label: {
                        text: "New organisation name"
                    },
                    id: "new-name",
                    name: "new-name"
                    }) }}
                    {{ govukInput({
                    label: {
                        text: "Organisation name"
                    },
                    classes: "govuk-input--width-10",
                    id: "code",
                    name: "code"
                    }) }}
                    {{ govukInput({
                    label: {
                        text: "Abbreviation"
                    },
                    classes: "govuk-input--width-10",
                    id: "abbr",
                    name: "abbr"
                }) }}
                <div class="button-container">
                    {{ govukButton({
                        text: "Add organisation"
                    }) }}
                </div>
            </form>
            <a href="/content-management/organisations" class="govuk-link">Cancel</a>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
    <script src="/govuk-frontend/all.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script type="text/javascript" src="/js/accessible-autocomplete.min.js"></script>
    <script type="text/javascript" src="/js/add-organisation.js"></script>
    {% set orgs = [] %}
    {% for organisation in organisations._embedded.organisationalUnits %}
        {% set orgName = orgs.push(organisation.name)%}
    {% endfor %}
    <script orgs='{{orgs}}' src="/js/orgs.js"></script>
{% endblock %}