{% extends "../../component/Page.njk" %}

{% from "button/macro.njk" import govukButton %}

{% block pageTitle %}
    {{ i18n.agencyToken.title.deleteAgencyToken }} - {{ i18n.proposition_name }}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/organisations/" + organisationalUnit.id + "/agency-token" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-m govuk-!-font-size-36">Confirm deleting this token</h1>

            <p class="govuk-body">Are you sure you want to remove the token for organisation: <strong>{{ organisationalUnit.name }}</strong>?</p>
            <p class="govuk-body">If this organisation's associated token is removed, members of the organisation will not need to supply a token to register with Civil Service Learning.</p>
            <p class="govuk-body"><strong>Deleting a token is permanent.</strong></p>

            <form action="/content-management/organisations/{{ organisationalUnit.id }}/agency-token/delete" method="post">
                {{ govukButton({
                    text: "Delete token",
                    classes: "button-red",
                    type: "submit"
                }) }}
            </form>

            <a class="cancel-button govuk-link" href="/content-management/organisations/{{ organisationalUnit.id }}/agency-token">Cancel</a>

        </div>
    </div>

{% endblock %}
