{% from "button/macro.njk" import govukButton %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}{{ i18n.organisations.title.removeAnOrganisation }} - {{ i18n.proposition_name }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/organisations/" + organisationalUnit.id + "/overview" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-m govuk-!-font-size-36">{{ i18n.organisations.title.removeAnOrganisation }}</h1>
        <p class="govuk-body">Are you sure you want to remove <strong>{{ organisationalUnit.name }}{{ " (" + organisationalUnit.abbreviation + ")" if organisationalUnit.abbreviation else "" }}</strong>?</p>
        <p class="govuk-body">By deleting this organisation, you will delete any sub-divisions which are associated to it.</p>
        <p class="govuk-body">This action is irreversible.</p>
        <form action="/content-management/organisations/{{ organisationalUnit.id }}/delete" method="post">
            <fieldset class="govuk-fieldset">
                {{ govukButton({
                    text: "Remove organisation",
                    classes: "button-red"
                }) }}
            </fieldset>
        </form>
        <a class="cancel-button govuk-link" href="/content-management/organisations/{{ organisationalUnit.id }}/overview">Cancel</a>
    </div>
</div>
{% endblock %}