{% from "button/macro.njk" import govukButton %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}{{ i18n.organisations.title.removeAnOrganisation }} - {{ i18n.proposition_name }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/organisations/" + organisationalUnit.id + "/overview" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-m govuk-!-font-size-36">Remove an organisation</h1>
        {% if organisationalUnit.abbreviation %}
            <p class="govuk-body">Are you sure you want to remove <strong>{{ organisationalUnit.name }} ({{ organisationalUnit.abbreviation }})</strong>?</p>
        {% else %}
            <p class="govuk-body">Are you sure you want to remove <strong>{{ organisationalUnit.name }}</strong>?</p>
        {% endif %}
        <p class="govuk-body">If you remove this organisation, it will be permanently deleted from the service.</p>
        <form action="/content-management/organisations/{{ organisationalUnit.id }}/delete" method="post">
            <fieldset class="govuk-fieldset">
                {{ govukButton({
                    text: "Remove organisation",
                    classes: "button-red"
                }) }}
            </fieldset>
        </form>
        <a class="cancel-button govuk-link" href="/content-management/organisations/{{ organisationalUnit.id }}/overview">Cancel</a>
    </div>
</div>

{% endblock %}