{% from "../../component/list/macro.njk" import list %}
{% from "../../component/menu/macro.njk" import menu %}
{% from "../../component/statusWithLabel/macro.njk" import statusWithLabel with context %}
{% from "../../component/courseDetails/macro.njk" import courseDetails with context %}
{% from "../../component/courseEvents/macro.njk" import courseEvents with context %}
{% from "../../component/audiences/macro.njk" import audiences with context %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../component/Page.njk" %}

{% block pageTitle %}{{ i18n.organisations.title.organisationOverview }} - {{ i18n.proposition_name }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/organisations/manage" %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-body form-header govuk-!-font-size-24 no-margin">Organisation</h1>
        <h2 class="govuk-heading-m govuk-!-font-size-36">{{ organisationalUnit.name }}</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% set organisationAddedSuccessMessage = sessionFlash.organisationAddedSuccessMessage%}
        {% if organisationAddedSuccessMessage %}
            <div class="panel panel-blue">
                <div class="govuk-panel__body custom-panel panel-blue">
                    <p class="govuk-body">The organisation <strong>{{ organisationalUnit.name }}{{ ", " + organisationalUnit.abbreviation if organisationalUnit.abbreviation else "" }}</strong> has been added</p>
                </div>
            </div>
        {% endif %}

        {% set displayAgencyTokenRemovedMessage = sessionFlash.displayAgencyTokenRemovedMessage %}
        {% if displayAgencyTokenRemovedMessage %}
        <div class="panel panel-blue">
            <div class="govuk-panel__body custom-panel panel-blue">
                <p class="govuk-body">The token for this organisation has been removed</p>
            </div>
        </div>
        {% endif %}

        <h3 class="govuk-heading-m">Organisation details</h3>
        <ul class="list module-list">
            <li class="list-item module-item u--border--bgrey"><p class="govuk-body no-margin"><strong>Parent organisation</strong></p><p class="govuk-body no-margin">{{ organisationalUnit.parent.name | default("Unspecified", true) }}</p></li>
            <li class="list-item module-item u--border--bgrey"><p class="govuk-body no-margin"><strong>Organisation code</strong></p><p class="govuk-body no-margin">{{ organisationalUnit.code | default("Unspecified", true) }}</p></li>
            <li class="list-item module-item u--border--bgrey"><p class="govuk-body no-margin"><strong>Organisation abbreviation</strong></p><p class="govuk-body no-margin">{{ organisationalUnit.abbreviation | default("Unspecified", true) }}</p></li>
        </ul>
        <div class="title-container">
            <h3 class="govuk-heading-m">Organisation token</h3>
            {% if organisationalUnit.agencyToken %}
                <a href="/content-management/organisations/{{ organisationalUnit.id }}/agency-token" class="govuk-link">Edit token</a>
            {% else %}
                <a href="/content-management/organisations/{{ organisationalUnit.id }}/agency-token" class="govuk-link">Add token</a>                
            {% endif %}
        </div>
        <ul class="list module-list">
            {% set token = organisationalUnit.agencyToken %}
            {% if token %}
                <li class="list-item module-item u--border--bgrey"><p class="govuk-body no-margin"><strong>Token number</strong></p><p class="govuk-body no-margin">{{ token.token | default("Unspecified", true) }}</p></li>
                <li class="list-item module-item u--border--bgrey"><p class="govuk-body no-margin"><strong>Token spaces</strong></p><p class="govuk-body no-margin">{{ token.capacity | default("Unspecified", true) }}</p>
                <li class="list-item module-item u--border--bgrey"><p class="govuk-body no-margin"><strong>Token spaces currently in use</strong></p><p class="govuk-body no-margin">{{ token.capacityUsed  }}</p>
                <li class="list-item module-item u--border--bgrey"><p class="govuk-body no-margin"><strong>Token domains</strong></p>
                {% for domain in token.agencyDomains%}
                    <p class="govuk-body no-margin">{{ domain.domain | default("Unspecified", true) }}</p>
                {% endfor %}
                </li>
            {% else %}
                <p class="govuk-body no-margin">This organisation does not have an associated token</p>
            {% endif %}
        </ul>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="right-menu">
            {% block menu %}
                {% set actions = [
                    {
                        link: "/content-management/organisations/" + organisationalUnit.id,
                        text: "Edit organisation"
                    },
                    {
                        link: "/content-management/organisations/" + organisationalUnit.id + "/confirm-delete",
                        text: "Remove organisation"
                    }
                ] %}
                {{ menu("Actions", actions) }}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
