.module-headers {
	display: none;
}

.module-selector {
	//specifiticy issue
	.govuk-form-group {
		display: inline;
	}
}

.module-container {
	margin-bottom: 30px;
}
.sortable-chosen {
	background-color: govuk-colour('grey-4');
}

.sortable-ghost {
	background-color: govuk-colour('grey-4');
}

@media screen and (min-width: $tablet-small) {
	.modules {
		.module-headers,
		.list-details {
			display: flex;

			.govuk-body {
				margin-bottom: 0;

				&.title {
					flex-basis: 40%;
					padding: 0 30px 0 0;
				}

				&.type {
					flex-basis: 20%;
					padding: 0 30px;
				}

				&.added-on {
					flex-basis: 20%;
					padding: 0 30px;
				}
			}

			.buttons {
				flex-basis: 20%;
			}

			.spacer {
				justify-self: flex-end;
				display: block;
				width: 15px;
				height: 35px;
			}

			.handle {
				justify-self: flex-end;
				display: block;
				width: 15px;
				height: 35px;
				background-color: red;
				cursor: pointer;
				margin: -10px 0 -10px 0;
				align-self: center;
			}
		}
	}
}
