#token-number-display-text {
    margin-bottom: 4px;
}

#delete-token-button {
    float: none;
}

#add-domain-form {
    display: flex;
    align-items: flex-end;
}

#domainToAdd {
    min-width: 220px;
}
