.module-headers {
	display: none;
}

.module-selector {
	//specifiticy issue
	.govuk-form-group {
		display: inline;
	}
}

.module-container-small {
	margin-bottom: 50px;
}

.sortable-ghost,
.sortable-chosen {
	background-color: govuk-colour('grey-4');
}

.errors {
	border-left: 5px solid $error-message;
	padding-left: 15px;
	margin-bottom: 30px;
}

.error-container {
	margin-bottom: 30px;
}

.time-inputs {
	margin-bottom: 30px;

	.govuk-form-group {
		margin-bottom: 0;

		.govuk-input {
			margin-bottom: 0;
		}
	}
}

.errors {
	.time-inputs {
		.govuk-form-group {
			.govuk-input {
				border-color: $error-message;
				border-width: 4px;
			}
		}
	}
}

.return-to-course {
	color: $font-color;
	display: inline-block;
	position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 14px;
	border-bottom: 1px solid $font-color;
	text-decoration: none;
}

.return-to-course::before {
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent;
	-webkit-clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
	clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
	border-width: 5px 6px 5px 0;
	border-right-color: inherit;
	content: '';
	position: absolute;
	top: -1px;
	bottom: 1px;
	left: 0;
	margin: auto;
}

@media screen and (min-width: $tablet-small) {
	.modules {
		.module-headers,
		.list-details {
			display: flex;

			.govuk-body {
				margin-bottom: 0;

				&.title {
					flex-basis: 40%;
					padding: 0 30px 0 0;
				}

				&.type {
					flex-basis: 20%;
					padding: 0 30px;
				}

				&.added-on {
					flex-basis: 20%;
					padding: 0 30px;
				}
			}

			.buttons {
				flex-basis: 20%;
			}

			.spacer {
				justify-self: flex-end;
				display: block;
				width: 20px;
			}

			.handle {
				align-self: center;
				background-image: url("data:image/svg+xml,%3Csvg width='18px' height='38px' viewBox='0 0 18 38' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Add-new-course,-4,-modules-part-II' transform='translate(-954.000000, -429.000000)' fill='%23D8D8D8'%3E%3Cg id='re-order-handles' transform='translate(954.000000, 429.000000)'%3E%3Crect id='Rectangle-3' x='0' y='0' width='8' height='8'%3E%3C/rect%3E%3Crect id='Rectangle-3-Copy-2' x='0' y='10' width='8' height='8'%3E%3C/rect%3E%3Crect id='Rectangle-3-Copy-4' x='0' y='20' width='8' height='8'%3E%3C/rect%3E%3Crect id='Rectangle-3-Copy-6' x='0' y='30' width='8' height='8'%3E%3C/rect%3E%3Crect id='Rectangle-3-Copy' x='10' y='0' width='8' height='8'%3E%3C/rect%3E%3Crect id='Rectangle-3-Copy-3' x='10' y='10' width='8' height='8'%3E%3C/rect%3E%3Crect id='Rectangle-3-Copy-5' x='10' y='20' width='8' height='8'%3E%3C/rect%3E%3Crect id='Rectangle-3-Copy-7' x='10' y='30' width='8' height='8'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				background-size: contain;
				background-repeat: no-repeat;
				cursor: pointer;
				display: block;
				height: 30px;
				margin: -10px 0 -10px auto;
				width: 16px;
			}
		}
	}
}
