.course-container {
	margin-bottom: 60px;

	.course-table {
		.govuk-table__header {
			padding: 15px 20px 15px 0;
		}
	}
}

.title-container {
	display: flex;
	justify-content: space-between;
}

.section {
	margin-bottom: 30px;
}
