.event-container {
	margin-bottom: 30px;
}

.event-list {
	.events {
		display: flex;
		padding: 15px 0;

		.govuk-body {
			margin: 0;
		}

		.event-header {
			font-weight: bold;
		}

		.date {
			flex-basis: 35%;
		}

		.time {
			flex-basis: 25%;
		}

		.spacer {
			display: block;
		}
	}
}
