.column-container {
	width: 100%;
	display: flex;

	.column-two-thirds {
		width: 66.6667%;
		padding-right: 5px;
	}

	.column-one-third {
		width: 33.3333%;
		padding-left: 5px;
	}
}

.courses {
	font-size: $font-normal;
	color: $font-color;

	.course-details {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;

		.course-title {
			font-weight: 700;
			padding: 10px 8px 10px 0;
		}

		.course-padding {
			padding: 10px 8px 10px 0;
		}
	}
}
