.govuk-grid-row.add-new-question {
  .govuk-grid-column-two-thirds {
    .quiz-questions {
      margin-bottom: 20px;
    }
    .answers {
      margin-bottom: 25px;
      .label {
        font-weight: bold;
      }
      .govuk-label.govuk-checkboxes__label {
        p {
          margin: 0;
          padding-top: 5px;
        }
        width: 100%;
        margin-top: -8px;
        display: inline;
        margin-left: -15px;
        &.placeholder {
          display: inline-block;
          margin-left: 0px;
        }
      }
    }
  }
}

.govuk-grid-row.quiz {
  table thead tr th span.empty-header {
    display: none;
  }
}

.delete-quiz .govuk-fieldset {
  margin-bottom: 20px;
}

.skills-message {
  padding: 20px;
  font-size: 19px;
  margin-top: -20px;
  margin-bottom: 30px;
  &.success {
    color: #00703c;
    border: 4px solid #00703c;
  }
  &.failure {
    color: 	#d4351c;
    border: 4px solid #d4351c;

  }
}