.govuk-grid-row.add-new-question {
  .govuk-grid-column-two-thirds {
    .quiz-questions {
      margin-bottom: 20px;
    }
    .answers {
      margin-bottom: 25px;
      .label {
        font-weight: bold;
      }
      .govuk-label.govuk-checkboxes__label {
        p {
          margin: 0;
          padding-top: 5px;
        }
        width: 100%;
        margin-top: -8px;
        display: inline;
        margin-left: -15px;
        &.placeholder {
          display: inline-block;
          margin-left: 0px;
        }
      }
    }

    #removeImageButton {
      border: 2px solid transparent;
      margin-right: 25px;
    }
  }
}

.govuk-grid-row.quiz {
  table thead tr th span.empty-header {
    display: none;
  }
}

.delete-quiz .govuk-fieldset {
  margin-bottom: 20px;
}

.skills-message {
  color: #fff;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 30px;
  background-color: #005ea5;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
}

.quiz {
  .govuk-grid-column-one-third .right-menu.department-admin .menu-container {
    margin-top: -20px;
  }
}


  .supportingImageHolder {
    display: grid;
    grid-template-rows: auto min-content auto;
  }

  .supportImageText {
    font-style: italic;
    padding: 2px 2px 0px 2px;
    text-align: center;
    grid-row: 3;
  }

  img.supportingImage {
    width: 100%;
    height: auto;
    align-self: center;
    background-color: green;
    grid-row: 2;
    //margin: 0 auto;
  }

  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal!important;
  }

  p.alternativeText {
    display: none;
  }

  .skipQuestion {
    text-decoration: underline;
    color: #0066CC;
    cursor: pointer;
  }

  th.tableHeading {
    font-weight: bold;
  }


  .skills-question .testingTest {
    color: red;
  }

  .quiz-question {
    .govuk-grid-column-two-thirds {
      h1 {
        color: #6f777b;
        font-weight: normal;
        font-size: 27px;
      }
      h2 {
        margin-top: -8px;
        font-size: 30px;
      }
      h3 {
        margin-bottom: 0px;
        font-size: 20px;
      }
      p {
        font-size: 20px;
        margin-top: 5px;
      }
      .govuk-form-group h3 {
        margin-bottom: 30px;
      }

      .button-container {
        padding-top: 0px;
      }
    }

    .govuk-grid-column-one-third {
      img {
        margin-top: 50%;
        width: 150%;
      }
    }
}

.reports-container  {
  .list .govuk-form-group.profession-selecter {
    margin-top: 20px;
  }
  .list .course.list-details.dates {
    display: inline-block;
  }
}




