.govuk-grid-row.add-new-question {
  .govuk-grid-column-two-thirds {
    .quiz-questions {
      margin-bottom: 20px;
    }
    .answers {
      margin-bottom: 25px;
      .label {
        font-weight: bold;
      }
      .govuk-label.govuk-checkboxes__label {
        p {
          margin: 0;
          padding-top: 5px;
        }
        width: 100%;
        margin-top: -8px;
      }
    }
  }
}