{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% extends "../../../component/Page.njk" %}

{% block pageTitle %}{{ i18n.audience.pageTitle.addCoreLearning }} - {{ i18n.proposition_name }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + course.id + "/audiences/" + audience.id + "/configure" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-body form-header govuk-!-font-size-24 no-margin">{{i18n.audience.pageText.addNew}}</h1>
            <h2 class="govuk-heading-m govuk-!-font-size-36">Core Learning</h2>
            <form action="/content-management/courses/{{ course.id }}/audiences/{{ audience.id }}/add-core-learning" method="post" class="audience-form">
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                <div class="govuk-fieldset audience-fieldset">
                    {% set interestList = [] %}
                    {% for interest in interests._embedded.interests %}
                        {% set item = interestList.push({
                            text: interest.name,
                            value: interest.name
                        }) %}
                    {% endfor %}
                    {{ govukCheckboxes({
                        idPrefix: "interests",
                        name: "interests",
                        fieldset: {
                            legend: {
                                text: "Which core learning, if any, should be included in this audience?",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--s"
                            }
                        },
                        items: interestList
                        }) }}
                </div>
                <div class="button-container">
                    {{ govukButton({
                        text: "Continue",
                        type: "submit"
                    }) }}
                </div>
            </form>
            <a class="cancel-button govuk-body govuk-link" href="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/configure">Cancel</a>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}

