{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "checkboxes/macro.njk" import govukCheckboxes %}

{% extends "../../../component/Page.njk" %}

{% block pageTitle %}{{ i18n.audience.pageTitle.addGrades }} - {{ i18n.proposition_name }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + course.id + "/audiences/" + audience.id + "/configure" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-body form-header govuk-!-font-size-24 no-margin">{{i18n.audience.pageText.addNew}}</h1>
            <h2 class="govuk-heading-m govuk-!-font-size-36">Grades</h2>
            <form action="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/grades" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                {% set gradeList = [] %}
                {% for grade in grades._embedded.grades %}
                    {% set list = gradeList.push({
                        "text": grade.name,
                        "value": grade.code
                    }) %}
                {% endfor %} 
                {{ govukCheckboxes({
                idPrefix: "grades",
                name: "grades",
                hint:{ 
                    text: "Check all the grades that are required for this audience"
                },
                fieldset: {
                    legend: {
                        text: "Which grade is this audience for?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--s" 
                    }
                },
                items: gradeList
                        
                }) }}
                <div class="button-container">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </div>
            </form>
            <a class="cancel-button govuk-body govuk-link" href="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/configure">Cancel</a>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}

