{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "radios/macro.njk" import govukRadios %}

{% extends "../../../component/Page.njk" %}

{% block pageTitle %}{{ i18n.audience.pageTitle.addOrganisation }} - {{ i18n.proposition_name }}{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + course.id + "/audiences/" + audience.id + "/configure" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-body form-header govuk-!-font-size-24 no-margin">{{i18n.audience.pageText.addNew}}</h1>
            <h2 class="govuk-heading-m govuk-!-font-size-36">Organisation</h2>
            <form action="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/organisation" method="post">
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                {% if errors.fields %}
                    {% set classNames = "govuk-fieldset audience-fieldset govuk-form-group--error" %}
                    {% set message = "govuk-error-message" %}
                {% else %}
                    {% set classNames = "govuk-fieldset audience-fieldset" %}
                    {% set message = "no-errors" %}
                {% endif %}

                <div class="{{classNames}}">
                    <p class="{{message}}">Select which organisations are included</p>
                    {% set typeaheadHtml %}
                    <div class="autocomplete-wrapper">
                        <select name="parent" id="parent">
                            <option value=""></option>
                            {% set parent = form.parent|default(organisationalUnit.parent.uri) %}
                            {% for key in organisationalUnits %}
                                {% if parent === key.href %}
                                    {% set selected='selected' %}
                                {% else %}
                                    {% set selected='' %}
                                {% endif %}
                                <option value={{ key.code }} {{ selected }}>{{ key.formattedName }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endset -%}
                    {{ govukRadios({
                        idPrefix: "organisation",
                        name: "organisation",
                        fieldset: {
                            legend: {
                                text: "Which organisations are included in this audience?",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--s "
                            }
                        },
                        items: [
                            {
                            value: "all",
                            text: "All",
                            id: "all"
                            },
                            {
                            value: "selected",
                            text: "Selected organisations only",
                            id: "selected",
                                conditional: {
                                    html: typeaheadHtml
                                }
                            }
                        ]
                        }) }}
                </div>
                <div class="button-container">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </div>
            </form>
            <a class="cancel-button govuk-body govuk-link" href="/content-management/courses/{{course.id}}/audiences/{{audience.id}}/configure">Cancel</a>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}

{% block bodyEnd %}
    <script src="/govuk-frontend/all.js"></script>
    <script>window.GOVUKFrontend.initAll()</script>
    <script type="text/javascript" src="/js/accessible-autocomplete.min.js"></script>
    <script type="text/javascript" src="/js/manage-orgs.js"></script>
{% endblock %}

