{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "radios/macro.njk" import govukRadios %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../../component/Page.njk" %}

{% block pageTitle %}
    {{i18n.audience.pageTitle.editType if audience else i18n.audience.pageTitle.addType}} - {{i18n.proposition_name}}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + course.id + (("/audiences/" + audience.id + "/configure") if audience else "/overview") %}

{% block content %}
    {% set errors = sessionFlash.errors %}
    {{ errorSummary(errors.fields) }}
    {% set audienceTypeAsString = AudienceType[audience.type] if audience %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-body form-header govuk-!-font-size-24 no-margin">{{i18n.audience.pageText.edit if audience else i18n.audience.pageText.addNew}}</h1>
            <h2 class="govuk-heading-m govuk-!-font-size-36">Type of audience</h2>
            <form action="/content-management/courses/{{ course.id }}/audiences/{{(audience.id + '/') if audience}}type" method="post" class="audience-form">
                <p class="govuk-body">You can limit who this course is shown to</p>
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                <input type="hidden" name="name" value="{{sessionFlash.audienceName}}" />
                {% if errors.fields %}
                    {% set classNames = "govuk-fieldset audience-fieldset govuk-form-group--error" %}
                    {% set message = "govuk-error-message" %}
                {% else %}
                    {% set classNames = "govuk-fieldset audience-fieldset" %}
                    {% set message = "no-errors" %}
                {% endif %}
                <div class="{{classNames}}">
                    <p class="{{message}}">Select the type of course you are creating</p>
                    {{ govukRadios({
                        idPrefix: "audience-type",
                        name: "type",
                        fieldset: {
                            legend: {
                                text: "Who can view this course?",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--s"
                            }
                        },
                        items: [
                            {
                                value: 'OPEN',
                                text: i18n.audience.type.OPEN,
                                checked: audienceTypeAsString == 'OPEN'
                            },
                            {
                                value: 'CLOSED_COURSE',
                                text: i18n.audience.type.CLOSED_COURSE,
                                checked: audienceTypeAsString == 'CLOSED_COURSE',
                                label: {
                                    classes: "govuk-label--s"
                                },
                                hint: {
                                    text: "A closed course can only be seen by learners who have the same organisation, grade, profession or interests as those of the course."
                                }
                            },
                            {
                                value: 'PRIVATE_COURSE',
                                text: i18n.audience.type.PRIVATE_COURSE,
                                checked: audienceTypeAsString == 'PRIVATE_COURSE',
                                hint: {
                                    text: "A private course is only open to specific learners invited by email."
                                }
                            },
                            {
                                value: 'REQUIRED_LEARNING',
                                text: i18n.audience.type.REQUIRED_LEARNING,
                                checked: audienceTypeAsString == 'REQUIRED_LEARNING',
                                hint: {
                                    text: "Required learning can only be seen by learners who have the same organisation, grade, profession or interests as those of the course. The deadline for completion will be the end of the financial year."
                                }
                            }
                        ]
                    }) }}
                </div>
                <div class="button-container">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </div>
            </form>
            <a class="cancel-button govuk-body govuk-link" href="{{backButton}}">Cancel</a>
        </div>
        <div class="govuk-grid-column-one-third">  
        </div>
    </div>
{% endblock %}
