{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../../component/Page.njk" %}

{% block pageTitle %}
    {{i18n.audience.pageTitle.editName if audience else i18n.audience.pageTitle.addName}} - {{i18n.proposition_name}}
{% endblock %}

{% set banner = true %}
{% set backButton = "/content-management/courses/" + course.id + "/overview" %}

{% block content %}
    {% set errors = sessionFlash.errors %}

    {{ errorSummary(errors.fields) }}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-body form-header govuk-!-font-size-24 no-margin">{{i18n.audience.pageText.addNew}}</h1>
            <h2 class="govuk-heading-m govuk-!-font-size-36">{{i18n.audience.pageText.audienceName}}</h2>
            <form action="/content-management/courses/{{ course.id }}/audiences/" method="post" class="audience-form">
                <input type="hidden" name="_csrf" value="{{_csrf}}" />
                <p class="govuk-body no-margin">You need to give your audience a short, descriptive name</p>
                <p class="govuk-body">This name is for your own use</p>
                <fieldset class="govuk-fieldset">
                    {% if errors.fields.name %}
                        {{ govukInput({
                            label: {
                                text: "Name"
                            },
                            id: "name",
                            name: "name",
                            value: audience.name if audience.name else sessionFlash.audience.name,
                            errorMessage: {
                                text: errors.fields.name[0] | jsonpath(i18n)
                            }
                        }) }}
                    {% else %}
                        {{ govukInput({
                            label: {
                                text: "Name"
                            },
                            id: "name",
                            name: "name",
                            value: audience.name
                        }) }}
                    {% endif %}
                </fieldset>
                <div class="button-container">
                    {{ govukButton({
                        text: "Continue"
                    }) }}
                </div>
            </form>
            <a class="cancel-button govuk-body govuk-link" href="/content-management/courses/{{ course.id }}/overview">Cancel</a>
        </div>
        <div class="govuk-grid-column-one-third">  
        </div>
    </div>
{% endblock %}