{% from "phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: '<a class="lpg-feedback-link" href="https://www.smartsurvey.co.uk/s/CSHR-Privatebeta/" target="_blank">Complete our survey to help us improve our new service (opens in new window)</a>.'
}) }}
