.menu-container {
	padding: 10px;

	.menu-header {
		font-weight: 700;
		font-size: 20px;
		margin: 10px 0;
	}

	.menu-link {
		font-size: $font-normal;
	}
}

.govuk-button--delete {
	background-color: $theme;
	width: 81px;
	font-weight: 700;
	margin-top: 30px;

	&:hover {
		background-color: darken($theme, 10%);
		color: $white;
	}

	&:focus {
		background-color: $theme;
	}
}

.right-menu {
	border: 1px solid $border;
	border-top: 4px solid $theme;
	padding: 10px;

	.menu-header {
		font-weight: 700;
		font-size: 20px;
		margin: 10px 0;
	}

	.menu-link {
		font-size: $font-normal;
	}
}
