{% extends "../component/Page.njk" %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "../component/textarea/macro.njk" import textarea %}
{% from "button/macro.njk" import govukButton %}

{% block pageTitle %}Add Course - Civil Service Learning{% endblock %} 
{% block header %}
    {{ govukHeader({
        homepageUrl: "#",
        containerClasses: "govuk-width-container",
        serviceName: "Civil Service Learning",
        serviceUrl: "#",
        navigation: [
            {
                href: lpgUiUrl + "/home",
                text: "Home",
                active: true
            },
            {
                href: lpgUiUrl + "/suggestions-for-you",
                text: "Suggestions for you"
            },
            {
                href: lpgUiUrl + "/learning-record",
                text: "Learning record"
            },
            {
                href: lpgUiUrl + "/profile",
                text: "Profile"
            },
            {
                href: "/",
                text: "Admin"
            },
            {
                href: lpgUiUrl + "/sign-out",
                text: "Sign out"
            }
            ]
    }) }}
{% endblock %}

{% block content %}
    <a href="#" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body form-header govuk-!-font-size-24">Add a new course</p>
            <h2 class="govuk-heading-m govuk-!-font-size-36">Course details</h2>

             {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                        {
                        text: "You have exceeded the character limit",
                        href: "#shortDesc"
                        },
                        {
                        text: "You have exceeded the character limit",
                        href: "#description"
                        },
                        {
                        text: "You have exceeded the character limit",
                        href: "#outcomes"
                        },
                        {
                        text: "You have exceeded the character limit",
                        href: "#preparation"
                        }
                    ]
                }) }}
            <form action="/form-handler" method="post">
                <fieldset class="govuk-fieldset">
                    {% block textarea %}
                        {{ textarea("shortDesc", "shortDesc", "Maximum of 160 characters", 160, "Short description") }}
                            
                        {{ textarea("Description", "description", "Maximum of 1500 characters", 1500, "Description") }}
                
                        {{ textarea("Outcomes", "outcomes", "Maximum of 1500 characters", 1500, "Learning outcomes (optional)") }}
                    
                        {{ textarea("Preparation", "preparation", "Maximum of 1500 characters", 1500, "Preparation (optional)") }}
                    {% endblock %}
                </fieldset>
           
                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
            <a class="cancel-button govuk-body govuk-link" href="#">Cancel</a>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}
{% block bodyEnd %}
    <script src="/govuk-frontend/all.js"></script>
    <script src="/govuk-frontend/assets/char-count.js"></script>
{% endblock %}