{% from "input/macro.njk" import govukInput %}
{% from "../component/textarea/macro.njk" import textarea %}
{% from "../component/textareaError/macro.njk" import textareaError %}
{% from "../component/menu/macro.njk" import menu %}
{% from "button/macro.njk" import govukButton %}

{% extends "../component/Page.njk" %}
{% block pageTitle %}Add Terms and Conditions - Civil Service Learning{% endblock %}

{% block beforeContent %}
    {% block phaseBanner %}
        {{ phaseBanner("beta") }}
    {% endblock%}
    {% block backLink %}
        {{ backLink("/content-management/add-learning-provider") }}
    {% endblock%}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m govuk-!-font-size-36">Add new terms and conditions</h2>

            {% if errors.fields %}
                <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            {% for field, message in errors.fields %}
                                <li><a href="#">{{ i18n[message] }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {%endif%}
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/content-management/learning-providers/{{learningProvider.id}}/add-terms-and-conditions" method="post">
                <fieldset class="govuk-fieldset">
                    {% if errors.fields %}
                        {{ govukInput({
                        label: {
                            text: "Title"
                            },
                            id: "title",
                            name: "title",
                            errorMessage: {
                                text: "Title is required"
                            }
                        }) }}
                    {% else %}
                        {{ govukInput({
                        label: {
                            text: "Title"
                            },
                            id: "title",
                            name: "title"
                        }) }}
                    {% endif %}
                     
                    {% block textarea %}
                        {% if errors.fields%}
                            {{ textareaError("termsAndConditions", "termsAndConditions", "", null, "Terms and conditions", "Terms and conditions is required") }}                         
                        {% else %}
                            {{ textarea("termsAndConditions", "termsAndConditions", "", null, "", "Content") }}
                        {% endif %}
                    {% endblock %}               
                </fieldset> 
                {{ govukButton({
                    text: "Add terms and conditions"
                }) }} 
            </form>                    
        </div>
        <div class="govuk-grid-column-one-third">
            <div class="right-menu">
                {% block menu %}
                    {% set actions = [
                        {
                            link: '/content-management/headings',
                            text: 'Headings'
                        },
                        {
                            link: '/content-management/lists',
                            text: 'Lists'
                        },
                        {
                            link: '/content-management/links',
                            text: 'Links'
                        }
                    ] %}
                {{ menu("Using markdown", actions) }}
            {% endblock %}
        </div>
        </div>
    </div>
{% endblock %}

