{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}

{% extends "../component/Page.njk" %}
{% block pageTitle %}Add Course - Civil Service Learning{% endblock %}
{% block header %}
    {{ govukHeader({
        homepageUrl: "#",
        containerClasses: "govuk-width-container",
        serviceName: "Civil Service Learning",
        serviceUrl: "#",
        navigation: [
            {
                href: lpgUiUrl + "/home",
                text: "Home",
                active: true
            },
            {
                href: lpgUiUrl + "/suggestions-for-you",
                text: "Suggestions for you"
            },
            {
                href: lpgUiUrl + "/learning-record",
                text: "Learning record"
            },
            {
                href: lpgUiUrl + "/profile",
                text: "Profile"
            },
            {
                href: "/",
                text: "Admin"
            },
            {
                href: lpgUiUrl + "/sign-out",
                text: "Sign out"
            }
            ]
    }) }}
{% endblock %}

{% block content %}

    {{ govukBackLink({
        text: "Back",
        href: "/content-management"
    }) }}

    {% if errors.fields %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                {% for field, message in errors.fields %}
                    <li><a href="#">{{ i18n[message] }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {%endif%}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body form-header govuk-!-font-size-24">Add a new course</p>
            <h2 class="govuk-heading-m govuk-!-font-size-36">Course details</h2>
            <form action="/content-management/add-course" method="post">

                <fieldset class="govuk-fieldset">
                    {% if errors.fields %}
                        {{ govukInput({
                        label: {
                            text: "Course title"
                            },
                            id: "title",
                            name: "title",
                            errorMessage: {
                                text: "Title is required"
                            }
                        }) }}
                    {% else %}
                        {{ govukInput({
                        label: {
                            text: "Course title"
                            },
                            id: "title",
                            name: "title"
                        }) }}
                    {% endif %}
                </fieldset>
                {{ govukButton({
                    text: "Continue"
                }) }}

                <a class="cancel-button govuk-body govuk-link" href="#">Cancel</a>
            </form>
        </div>

        <div class="govuk-grid-column-one-third">
       
        </div>
    </div>
{% endblock %}