{% from "../component/list/macro.njk" import list %}
{% from "../component/menu-box/macro.njk" import menuBox %}

{% from "../component/course/macro.njk" import course %}
{% from "../component/menu-box/macro.njk" import menuBox %}

{% extends "../component/Page.njk" %} {% block pageTitle %}Content management - Civil Service Learning{% endblock %} 
{% block content %}
<div class="grid-row">
    <div class="u--border--bgrey">
        <h1 class="govuk-heading-l">Management and negotiation skills</h1>
    </div>

    <div class="column-container">
        <div class="column-two-thirds">  
            {% block course %}
                {{ course() }}
            {% endblock %}
        </div>

        <div class="column-one-third">
            {% block menuBox %}
                {% set delete = true %}
                {{ menuBox("Actions"), delete }}
            {% endblock %}
        </div>
    </div>
</div>