{% from "../component/list/macro.njk" import list %}
{% from "../component/menu-box/macro.njk" import menuBox %}
{% from "../component/course/macro.njk" import courseDetails with context %}
{% from "back-link/macro.njk" import govukBackLink %}

{% extends "../component/Page.njk" %} {% block pageTitle %}Course overview - Civil Service Learning{% endblock %}


{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ course.title }}</h1>

        {% if course._description %} 
            <p class="govuk-body">{{course._description}}</p>
        {% endif %}

        {% if course._learningOutcomes%} 
            <h3 class="govuk-heading-m">Learning outcomes</h3>
            <p class="govuk-body">{{course._learningOutcomes}}</p>
        {% endif %}
        
        <h3 class="govuk-heading-m">Modules</h3>
        <p class="govuk-body"></p>
       
    </div>

    <div class="govuk-grid-column-one-third">
        {% block courseDetails %}
        {{ courseDetails(course) }}
        {% endblock %}
    </div>
</div>
{% endblock %}