{% extends "../component/Page.njk" %} 

{% block pageTitle %}{{ i18n['administration_pages_title'] }} - {{ i18n['proposition_name'] }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">My administration pages</h1>
            <div class="reports-container">
                <h2 class="govuk-heading-m">Management reports</h2>
                <ul class="list">
                    <li class="course list-details u--border--bgrey">
                        <div class="course-details">
                            <a class="govuk-link list-title" href="/reporting/learner-record">Learner record</a>
                            <p class="govuk-body no-margin">Report description <span style="color: red">Hardcoded</span></p>
                        </div>
                    </li>
                    <li class="course list-details u--border--bgrey">
                        <div class="course-details">
                            <a class="govuk-link list-title" href="/reporting/ratings-feedback">Ratings (feedback)</a>
                            <p class="govuk-body no-margin">Report description <span style="color: red">Hardcoded</span></p>
                        </div>
                    </li>
                    <li class="course list-details u--border--bgrey">
                        <div class="course-details">
                            <a class="govuk-link list-title" href="/reporting/classroom">Classroom</a>
                            <p class="govuk-body no-margin">Report description <span style="color: red">Hardcoded</span></p>
                        </div>
                    </li>
                    <li class="course list-details u--border--bgrey">
                        <div class="course-details">
                            <a class="govuk-link list-title" href="/reporting/professions">Professions</a>
                            <p class="govuk-body no-margin">Report description <span style="color: red">Hardcoded</span></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}