{% extends "../component/Page.njk" %} 

{% block pageTitle %}{{ i18n['administration_pages_title'] }} - {{ i18n['proposition_name'] }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">My administration pages</h1>
            <div class="reports-container">
                <h2 class="govuk-heading-m">Management reports</h2>
            </div>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
{% endblock %}